{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" href="/media/association.css" />
{% endblock %}
{% block title %}{{association.nom}}{% endblock %}




{% block onglets %}
<div id="menu_onglets">
<h1><img class="logo_assoce" src = "{{ STATIC_URL }}logo_{{association.pseudo}}.png">{{association.nom}}</h1>
<ul>
<li><a href="/associations/{{association.pseudo}}/messages/"><span>Messages</span></a></li>
<li id="actif"><span>Équipe</span></li>
<li><a href="/associations/{{association.pseudo}}/evenements/"><span>Évenements</span></a></li>
{% if association.page %}
<li><a href="/associations/{{association.pseudo}}/{{association.page.lien}}/"><span>{{association.page.titre}}</span></a></li>
{% endif %}
</ul>
<br>
<hr>
</div>
{% endblock %}
{% block content %}
{% for adhesion in membres %}
{% if request.user = adhesion.eleve.user %}
<p><a href="/associations/{{association.pseudo}}/equipe/ajouter_membre/">Ajouter un membre</a><br>
<a href="/associations/{{association.pseudo}}/equipe/supprimer_membre/">Supprimer un membre</a><br>
<a href="/associations/{{association.pseudo}}/equipe/changer_ordre/">Changer l'ordre</a></p>
{% endif %}
{% endfor %}

<div id="equipe">
	{% for adhesion in membres %}
		<div class="portrait">
		<img src="{{ STATIC_URL }}{{ adhesion.eleve.user.username }}.jpg" />
		<a href = "/people/{{adhesion.eleve.user.username}}">{{adhesion.eleve.first_name}} {{adhesion.eleve.last_name|upper}}</a> {%if adhesion.role != ""%}<br>({{adhesion.role}}){% endif %}
		</div>
	{% endfor %}
</div>
<br>
<!--<h2>Liste des messages</h2>-->

{% endblock %}