{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" href="/media/association.css" />
{% endblock %}
{% block title %}{{association.nom}}{% endblock %}

{% block content %}
<h1>{{association.nom}}<img class="logo_assoce" src = "{{ STATIC_URL }}logo_{{association.pseudo}}.png"></h1>
{% for adhesion in membres %}
{% if request.user = adhesion.eleve.user %}
<p><a href="/associations/{{association.pseudo}}/ajouter_membre/">Ajouter un membre</a><br>
<a href="/associations/{{association.pseudo}}/supprimer_membre/">Supprimer un membre</a></p>
{% endif %}
{% endfor %}

<h2>Membres</h2>
<div id="equipe">
	{% for adhesion in membres %}
		<div class="portrait">
		<img src="https://sgs.mines-paristech.fr/prod/file/sgs/ensmp/20112012/photo/{{ adhesion.eleve.user.username }}.jpg" />
		<a href = "/people/{{adhesion.eleve.user.username}}">{{adhesion.eleve.first_name}} {{adhesion.eleve.last_name|upper}}</a> {%if adhesion.role != ""%}<br>({{adhesion.role}}){% endif %}
		</div>
	{% endfor %}
</div>
<br>
<!--<h2>Liste des messages</h2>-->

{% endblock %}