{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" href="{{ STATIC_URL }}association.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}medias.css" />
{% endblock %}
{% block title %}{{association.nom}}{% endblock %}




{% block onglets %}
<div id="menu_onglets">
<h1><img class="logo_assoce" src = "{{ STATIC_URL }}logo_{{association.pseudo}}.png">{{association.nom}}</h1>

<ul class="nav nav-pills">
<li><a href="/associations/{{association.pseudo}}/messages/"><img src="{{ STATIC_URL}}mail.png">Messages</a></li>
<li><a href="/associations/{{association.pseudo}}/evenements/"><img src="{{ STATIC_URL}}date.png">Évenements</a></li>
<li><a href="/associations/{{association.pseudo}}/equipe/"><img src="{{ STATIC_URL}}user.png">Équipe</a></li>
<li class="active"><a href="/associations/{{association.pseudo}}/medias/"><img src="{{ STATIC_URL}}clapperboard.png">Médias</a></li>
{% if association.page_set.all %}
{% for page in association.page_set.all %}
<li><a href="{% if not page.is_externe %}/associations/{{association.pseudo}}/{% endif %}{{ page.lien }}"><img src="{{ STATIC_URL}}page_{% if not page.is_externe %}{{page.lien}}{% else %}site{% endif %}.png"><span>{{page.titre}}</span></a></li>
{% endfor %}
{% endif %}
</ul>
<hr />
</div>
{% endblock %}

{% block content %}
{% for adhesion in membres %}
{% if request.user = adhesion.eleve.user %}
<p class="actions"><a href="/associations/{{association.pseudo}}/medias/affiche/ajouter/"><img src="{{ STATIC_URL }}affiche_add.png" title="Ajouter une affiche"></a>
<a href="/associations/{{association.pseudo}}/medias/video/ajouter/"><img src="{{ STATIC_URL }}video_add.png" title="Ajouter une vidéo"></a></p>
{% endif %}
{% endfor %}

<h3>Affiches</h3>
<div style="text-align:center">
{% for affiche in liste_affiches %}
<div class="affiche">
<a href="{{ MEDIA_URL }}{{ affiche.fichier }}"><img src="{{ MEDIA_URL }}{{ affiche.fichier }}"/></a>
<p class="legende">{{ affiche.titre }}</p>
{% for adhesion in membres %}
{% if request.user = adhesion.eleve.user %}
<p><a href="affiche/{{ affiche.id }}/supprimer/">Supprimer l'affiche</a></p>
{% endif %}
{% endfor %}
</div>

{% empty %}
<p>Aucune affiche publiée</p>
{% endfor %}


<h3>Vidéos</h3>
{% for video in liste_videos %}
<iframe width="100%" height="315" src="{{ video.url }}" frameborder="0" allowfullscreen></iframe>
<p class="legende">{{ video.titre }}</p>
{% for adhesion in membres %}
{% if request.user = adhesion.eleve.user %}
<p><a href="video/{{ video.id }}/supprimer/">Supprimer la vidéo</a></p>
{% endif %}
{% endfor %}

{% empty %}
<p>Aucune vidéo publiée</p>
{% endfor %}
</div>

{% endblock %}
