{% extends "base.html" %}

{% block header %}
    <link rel="stylesheet" href="{{ STATIC_URL }}list.css" />	
{% endblock %}

{% block content %}

<p>Choisissez l'ordre d'apparition des membres de l'équipe.</p>
<ul>
<li>Les membres seront triés par indices décroissants.</li>
<li>Les membres ayant le même indice seront triés par ordre alphabétique</li>
</ul>

<form method="post" action="{{ request.path }}">
{% csrf_token %}
<table class = "edit">
{% for adhesion in membres %}
<tr>
<td>{{ adhesion.eleve.user.username }}</td>
<td>
<input type = "hidden" name="login-{{ forloop.counter }}" value ="{{ adhesion.eleve.user.username }}" >
<select name="position-{{ forloop.counter }}">
 {% for i in indices_membres %}
  <option {% if adhesion.ordre = i %}selected="selected"{% endif %}>{{i}}</option>
 {% endfor %}
</select>
</td>
</tr>
{% endfor %}

</table>
<input type="submit" />
</form>

{% endblock %}
