{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="{{ STATIC_URL }}association.css" />
{% endblock %}

{% block onglets %}
<div id="menu_onglets">
<h1><img class="logo_assoce" src = "{{ STATIC_URL }}logo_mineshake.png">Mineshake</h1>
<ul class="nav nav-pills">
    <li><a href="/associations/mineshake/messages/"><img src="{{ STATIC_URL }}mail.png"/><span>Messages</span></a></li>
    <li><a href="/associations/mineshake/evenements/"><img src="{{ STATIC_URL }}date.png"/><span>Événements</span></a></li>
    <li><a href="/associations/mineshake/equipe/"><img src="{{ STATIC_URL }}user.png"/><span>Équipe</span></a></li>
    <li><a href="/associations/mineshake/medias/"><img src="{{ STATIC_URL }}clapperboard.png"/><span>Médias</span></a></li>
    <li class="active"><a href="/associations/mineshake/soldes/"><img src="{{ STATIC_URL }}soldes_mineshake.png"/><span>Soldes</span></a></li>
</ul>
<hr />
</div>
{% endblock %}

{% if perms.soldes_mineshake %}
{% block content %}
<form action="" method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Valider" />
</form>
{% endblock %}
{% endif %}