img.logo_assoce {
	display:inline;
}

#menu_onglets h1 {
	font-size:48px;
	text-align:center;
	margin:0;
}

#menu_onglets ul {
list-style: none;
}

.portrait {
	float:left;
	width:100px;
	height:230px;
}

.portrait img {
	width:100%;
}


#equipe {
width:536px;
margin: 0 auto;
}