img.logo_assoce {
	float:left;
	margin-right:10px;
}

h1 {
	font-size:48px;
}

ul {
list-style: none;
}

.portrait {
	float:left;
	width:100px;
	height:230px;
}

.portrait img {
	width:100%;
}


#equipe {
width:536px;
margin: 0 auto;
}