#menu_messages {
	overflow:hidden;
	background-color:dae0d2;
	background-image:url(fond.png);
	background-position:bottom;
	background-repeat:repeat-x;
}

#menu_messages ul {
	float:right;
	margin-top: 16px;
	margin-right:16px;
	margin-bottom:0px;;
	margin-left:0px;
	padding:0px;
	list-style:none;
}

#menu_messages ul li {
	float:left;
	margin-left:3px;
}

#menu_messages ul li a {
	float:left;
	text-decoration:none;
	letter-spacing:1px;
	padding-left:10px;
	background-image:url(coin-gauche.png);
	background-repeat:no-repeat;
	background-position:0% -250px;
}

#menu_messages ul li a span {
	float:left;
	padding-right:10px;
	padding-top:4px;
	padding-bottom:3px;
	padding-left:0px;
	background-image:url(coin-droit.png);
	background-repeat:no-repeat;
	background-position:100% -250px;
	color:#ffffff;

}

#menu_messages ul li#actif {
	float:left;
	text-decoration:none;
	letter-spacing:1px;
	padding-left:10px;
	background-image:url(coin-gauche.png);
	background-repeat:no-repeat;
	background-position:0% 0%;
}

#menu_messages ul li#actif span {
	float:left;
	padding-right:10px;
	padding-top:4px;
	padding-bottom:3px;
	padding-left:0px;
	background-image:url(coin-droit.png);
	background-repeat:no-repeat;
	background-position:100% 0%;
	color:#333333;

}

#menu_messages ul li a:hover {
	background-position:0% -500px;
}
#menu_messages ul li a:hover span {
	background-position:100% -500px;
}

#menu_messages ul li a:focus {
	background-position:0% -500px;
}
#menu_messages ul li a:focus span {
	background-position:100% -500px;
}

#div_messages {
}

#div_messages ul {
	list-style:none;
}

#div_messages img.logo_assoce {
	float:left;
	width:80px;
	height:80px; 
	margin-right:10px;
}

#div_messages img.action_message {
	float:right;
}
	
img.miniature {
	float:left;
	width:50px;
	height:69px;
}

div.comment {
		min-height:69px;
}