#menu_messages {
	font-family: Arial;
	overflow:hidden;
	background-image:url(fond.png);
	background-position:bottom;
	background-repeat:repeat-x;
	font-size:18px;
	font-weight:bold;	
}

#menu_messages ul {
	position:relative;
	margin-top: 16px;
	margin-right:16px;
	margin-bottom:0px;;
	margin-left:0px;
	padding:0px;
	list-style:none;
}

#menu_messages ul li {
	float:left;
	margin-left:3px;
}

#menu_messages ul li a {
	float:left;
	text-decoration:none;
	padding-left:10px;
	background-image:url(coin-gauche_old.png);
	background-repeat:no-repeat;
	background-position:0% -250px;
}

#menu_messages ul li a span {
	float:left;
	padding-right:10px;
	padding-top:4px;
	padding-bottom:3px;
	padding-left:0px;
	background-image:url(coin-droit_old.png);
	background-repeat:no-repeat;
	background-position:100% -250px;
	color:#808080;

}

#menu_messages ul li#actif {
	float:left;
	text-decoration:none;
	padding-left:10px;
	background-image:url(coin-gauche_old.png);
	background-repeat:no-repeat;
	background-position:0% 0%;
}

#menu_messages ul li#actif span {
	float:left;
	padding-right:10px;
	padding-top:4px;
	padding-bottom:3px;
	padding-left:0px;
	background-image:url(coin-droit_old.png);
	background-repeat:no-repeat;
	background-position:100% 0%;
	color:#333333;

}

#menu_messages ul li a:hover {
	background-position:0% -500px;
}
#menu_messages ul li a:hover span {
	background-position:100% -500px;
}

#menu_messages ul li a:focus {
	background-position:0% -500px;
}
#menu_messages ul li a:focus span {
	background-position:100% -500px;
}

#menu_messages hr {
	width:95%;
	margin-left:-5px;
	color:#808080;
	background-color: #808080;
	height: 1px;
	border: 0;
}

#div_messages ul {
	list-style:none;
	padding:0;
	margin:0;
}

#div_messages img.logo_assoce {
	width:32px;
	height:32px; 
}

#div_messages img.action_message {
}

#div_messages table {
	font-family:Arial;
	width:100%;
	/*text-align:center;*/
}
#div_messages table td.objet{		
	cursor:pointer;
	font-size:17px;
	font-weight:bold;
	color:#000;
}
#div_messages table td.objet a{	
	color:#000;
}
#div_messages table td.info{	
	font-size:12px;
	font-style:italic;	
	color:#000;
}
#div_messages table span.legende{		
	color:#727272;
}
#div_messages table td.bouton{
	width:25px;
}
#div_messages table td.assoce{
	width:32px;
}
	
img.miniature {
	float:left;
	width:50px;
	height:69px;
}

div.comment {
		min-height:69px;
}

div.message{
	position:relative;
	width:475px;
	padding: 0;
	margin:0 26px;
}

div.message hr{
	border:1px solid #BBB;
	margin-bottom:4px;
}

div.message span.signature {
	line-height:90%;
}

div.event {
margin-top:-15px;
}

div.top-event {
	position:relative;
	margin:0;
	padding:0;
	float:left;
	width:100%;
	height:30px;
	margin-bottom:0px;
	background: url(evenement_top.gif)  repeat-x scroll left top rgb(45, 95, 155);
	border-bottom : 1px solid rgb(32, 86, 150);
	font-size:14px;
	color: #ddd;
}

div.top-event p{
	margin:5px
}