table {
	width: 774px;
	text-align: center;
	border: none;
}
th {
	background: #eee;
}
tr {
	margin: 0px;
	padding: 2px;
}
tr:hover {
	background: #eee;
}
td {
	margin: 0px;
	padding: 2px;
}
#picture { /* dans les pages détail */
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: 75px;
  /*margin-top: 192px;*/
  border: 1px solid #ccc;
  box-shadow: 0px 0px 4px #aaa;
}
#pictures img {
	display: none;
}

#pictures {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: 285px;
  /*margin-top: 192px;*/
  border: 1px solid #ccc;
  box-shadow: 0px 0px 4px #aaa;
}

#pictures.fixed {
  position: fixed;
  top: 0;
}

table.edit {
	width:100%;
}
