{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="{{ STATIC_URL }}association.css" />
{% endblock %}
{% block title %}MediaMines{% endblock %}

{% block onglets %}
<div id="menu_onglets">
<h1><img class="logo_assoce" src = "{{ STATIC_URL }}logo_mediamines.png">MediaMines</h1>

<ul>
<li><a href="/associations/mediamines/messages/"><img src="{{ STATIC_URL}}mail.png"><span>Messages</span></a></li>
<li><a href="/associations/mediamines/equipe/"><img src="{{ STATIC_URL}}user.png"><span>Équipe</span></a></li>
<li><a href="/associations/mediamines/evenements/"><img src="{{ STATIC_URL}}date.png"><span>Évenements</span></a></li>
<li id="actif"><img src="{{ STATIC_URL}}page_gallery.png"><span>Albums</span></li>
</ul>
<br>
<hr>
</div>
{% endblock %}
{% block content %}

{% for album in liste_albums %}
	<p><a href="/associations/mediamines/albums/{{ album.id }}">{{ album.titre }}</a></p>
{% endfor %}

{% endblock %}
