{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="/media/association.css" />
{% endblock %}
{% block title %}MediaMines{% endblock %}

{% block onglets %}
<div id="menu_onglets">
<h1><img class="logo_assoce" src = "{{ STATIC_URL }}logo_mediamines.png">MediaMines</h1>

<ul>
<li><a href="/associations/mediamines/messages/"><span>Messages</span></a></li>
<li><a href="/associations/mediamines/equipe/"><span>Équipe</span></a></li>
<li><a href="/associations/mediamines/evenements/"><span>Évenements</span></a></li>
<li id="actif"><span>Albums</span></li>
</ul>
<br>
<hr>
</div>
{% endblock %}
{% block content %}

<h1>{{album.titre}}</h1>
{% for file in file_list %}
	<img src="{{ STATIC_URL }}img/mediamines/{{album.dossier}}/{{ file }}" alt = "{{ file }}">
{% endfor %}

{% endblock %}
