{% extends "base_topbar.html" %}

{% block title %}{{ object.title }}{% endblock %}

{% block header %}
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		
		<link rel="stylesheet" href="{{ STATIC_URL }}supersized.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="{{ STATIC_URL }}supersized.shutter.css" type="text/css" media="screen" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery.multiselect.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery.multiselect.filter.css" />
		<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" />

		
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}jquery.easing.min.js"></script>
		
		<script type="text/javascript" src="{{ STATIC_URL }}supersized.3.2.7.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}supersized.shutter.identification.js"></script>

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>		
		<script type="text/javascript" src="{{ STATIC_URL }}jquery.multiselect.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}jquery.multiselect.filter.js"></script>

		
		<script type="text/javascript">
			
			jQuery(function($){
				
				$.supersized({
				
					// Functionality
					autoplay				:   {{ autoplay }},
					slide_interval          :   3000,		// Length between transitions
					transition              :   6, 			// 0-None, 1-Fade, 2-Slide Top, 3-Slide Right, 4-Slide Bottom, 5-Slide Left, 6-Carousel Right, 7-Carousel Left
					transition_speed		:	700,		// Speed of transition
					fit_always              :   1,									   
					// Components							
					slide_links				:	'blank',	// Individual links for each slide (Options: false, 'num', 'name', 'blank')
					slides 					:  	[			// Slideshow Images
														{% for photo in album.photos.all %}
															{image : '{{ photo.get_display_url }}', title : '{{ photo.title }}', thumb : '{{ photo.get_thumbnail_url }}', url : '{{ photo.get_absolute_url }}', slug:'{{ photo.title_slug }}'}
															{% if forloop.last %}{% else %}, {% endif %}
														{% endfor %}													
												],
					start_slide				:	{{ first_slide }}
					
				});
		    });
		    
		</script>

	{% endblock %}
	{% block content %}

	
	<ul id="demo-block">
		<li>Voir en <a href="{% url 'pl-gallery-mosaic' album.title_slug %}">mosaïque</a></li>
		<li>Tous les <a href="{% url 'pl-gallery-list' 1 %}">albums</a></li>
		{% if perms.mediamines %}
		<li>Rotation <a href="#" id="tourner_droite">droite</a>/<a href="#"  id="tourner_gauche">gauche</a>/<a href="#"  id="tourner_original">original</a></li>
		{% endif %}
		<li>
			<form>
			{% csrf_token %}
				<p>
					<select id="identification" multiple="multiple" style="width:220px">
					{% for eleve in liste_eleves %}
					<option value="{{ eleve.user.username }}">{{ eleve.first_name }} {{ eleve.last_name }}</option>
					{% endfor %}					
					</select>
				</p>
			</form>
		</li>
	</ul>
	

	<!--Thumbnail Navigation-->
	<div id="prevthumb"></div>
	<div id="nextthumb"></div>
	
	<!--Arrow Navigation-->
	<a id="prevslide" class="load-item"></a>
	<a id="nextslide" class="load-item"></a>
	
	<div id="thumb-tray" class="load-item">
		<div id="thumb-back"></div>
		<div id="thumb-forward"></div>
	</div>
	
	<!--Time Bar-->
	<div id="progress-back" class="load-item">
		<div id="progress-bar"></div>
	</div>
	
	<!--Control Bar-->
	<div id="controls-wrapper" class="load-item">
		<div id="controls">
			
			<a id="play-button"><img id="pauseplay" src="{{ STATIC_URL }}pause.png"/></a>
		
			<!--Slide counter-->
			<div id="slidecounter">
				<span class="slidenumber"></span> / <span class="totalslides"></span>
			</div>
			
			<!--Slide captions displayed here-->
			<div id="slidecaption"></div>
			
			<!--Thumb Tray button-->
			<a id="tray-button"><img id="tray-arrow" src="{{ STATIC_URL }}button-tray-up.png"/></a>
			
			<!--Navigation-->
			<ul id="slide-list"></ul>
			
		</div>
	</div>

<script type="text/javascript">
$("#tourner_droite").click(function(){
     location.href= '/associations/mediamines/photo/'+api.getField('slug')+'/tourner_droite/';
});
$("#tourner_gauche").click(function(){
     location.href= '/associations/mediamines/photo/'+api.getField('slug')+'/tourner_gauche/';
});
$("#tourner_original").click(function(){
     location.href= '/associations/mediamines/photo/'+api.getField('slug')+'/tourner_original/';
});
</script>
	
	
<script type="text/javascript">
$("select").multiselect({
		minWidth: '150',
		selectedList: 4,
		selectedText: '# élèves sélectionnés',
		noneSelectedText: 'Identifier des élèves',
		checkAllText: 'Tous',
		uncheckAllText: 'Aucun',
		open: function(event, ui){
			if (!vars.is_paused) api.playToggle();
		},
		close: function(event, ui){
			if (!vars.is_paused) api.playToggle();
		},
		click: function(event, ui){
			var crsf = $("input[name=csrfmiddlewaretoken]").val();
			var slideTitle = api.getField('slug');
			if (ui.checked) {
				$.post("/associations/mediamines/photo/" + slideTitle + "/identifier/", { csrfmiddlewaretoken: crsf, username:ui.value });
			}
			else {
				$.post("/associations/mediamines/photo/" + slideTitle + "/desidentifier/", { csrfmiddlewaretoken: crsf, username:ui.value });
			}			
		},
		uncheckAll: function(event, ui){
			var crsf = $("input[name=csrfmiddlewaretoken]").val();
			var slideTitle = api.getField('slug');
			$.post("/associations/mediamines/photo/" + slideTitle + "/desidentifier/", { csrfmiddlewaretoken: crsf });
		}
	}).multiselectfilter({
		label: "",
		placeholder: "Entrez un nom"
	});
</script>
{% endblock %}
