{% extends "base_header.html" %}


{% load photologue_tags %}

{% block content %}
<div style="text-align:center">
<p><a href="{{ object.image.url }}"><img src="{{ object.get_display_url }}" alt="{{ object.title }}"/></a></p>
    {% if object.caption %}<p>{{ object.caption }}</p>{% endif %}
	{% if object.eleves %}
		<p>Avec 
		{% for eleve in object.eleves.all %}
			<a href="/people/{{ eleve.user.username }}">{{ eleve.first_name }} {{ eleve.last_name }}</a>{% if not forloop.last %}, {% endif %}
		{% empty %} personne
		{% endfor %}</p>
	{% endif %}

{% if object.public_galleries %}
<h3>Cette photo fait partie de l'album <a href="{{ object.public_galleries.0.get_absolute_url }}">{{ object.public_galleries.0.title }}</a></h3>
</div>
{% endif %}

{% endblock %}
