<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Identification au Portail des élèves</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}login.css" media="screen" />

</head>
<body>
{% load url from future %}
<div class="boite">
<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
	<h1>Identification au Portail des élèves</h1>
	<p>
		{{ form.username.label_tag }}
		{{ form.username }}
	</p>
	<p>
		{{ form.password.label_tag }}
		{{ form.password }}
	</p>
	<p><a href="/accounts/password_reset/">J'ai oublié mon mot de passe</a></p>
	{% if form.errors %}
	<p>Identifiant ou mot de passe incorrect, veuillez réessayer.</p>
	{% endif %}
	<p class="center">
		<input type="submit" value="Se connecter" />
		<input type="hidden" name="next" value="{{ next }}" />		
	</p>
</form>
</div>
<p id="credits">Accès au <strong>Portail des élèves</strong> de l'École des  <strong>Mines de Paris</strong>.<br />
En cas de problèmes d'identification, contacter le <a href="mailto:11leuren@ensmp.fr">VP Geek</a></p>

<div class="boite">
	<h1>Espace visiteurs</h1>
	<table>
	<ul>
	<li><a href = "http://jump.ensmp.fr">JuMP (Junior Entreprise)</a></li>
	<li><a href = "http://www.forum-trium.fr">Forum Trium</a></li>
	<li><a href = "http://voile.mines-paris.eu">Club Voile</a></li>
	<li><a href = "http://bda.mines-paris.eu"/>BDA</a></li>	
	</ul>
	</table>
</div>
</body>