{% extends "registration/base.html" %}
{% load i18n %}


{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}

<h1>{% trans "Password reset" %}</h1>

<p>Mot de passe perdu ? Saisissez votre adresse électronique ci-dessous (au format prenom.nom@mines-paristech.fr), et nous vous enverrons les instructions pour en créer un nouveau.</p>

<form action="" method="post">{% csrf_token %}
{{ form.email.errors }}
<p><label for="id_email" style="width:170px;">{% trans 'E-mail address:' %}</label> {{ form.email }} <input type="submit" value="{% trans 'Reset my password' %}" /></p>
</form>

{% endblock %}
