<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="/media/jquery-1.7.1.min.js"></script>
	<script src="/media/script.js"></script>
	

    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" href="/media/styles.css" />
	{% block header %}{% endblock %}
</head>

<body>

<div id="wrap">
<nav>
	<div id="mon_menu">
	<!-- Le menu -->
	    <ul class="topnav">  
        <li><a href="/messages">Portail</a></li>  
        <li>  
            <a href="/associations">Associations</a>  
            <ul class="subnav">  
                <li><a href="/associations/bde">BDE</a></li>  
                <li><a href="/associations/jump">JuMP</a></li>  
				<li><a href="/associations/vendome">Vendôme</a></li>   
            </ul>  
        </li>  
        <li>  
            <a href="#">Services</a>  
            <ul class="subnav">  
                <li><a href="/people">Trombi</a></li>  
                <li><a href="/petitscours">Petits cours</a></li>
				<li><a href="/timetable">Emploi du temps</a></li>  
            </ul>  
        </li>  
        <li><a href="#">Rechercher</a></li>  
        <li><a href="#">A propos</a></li>  
		{% if user.is_authenticated %}
		<li class="droite">  
            <a href="#">{{ user.username }}</a>  
            <ul class="subnav">  
                <li><a href="/people/{{ user.username }}">Ma page</a></li>  
                <li><a href="/accounts/logout">Se déconnecter</a></li>
            </ul>  
        </li>  
		{% else %}
		<li class="droite"><a href="/accounts/login?next={{ request.get_path }}">S'identifier</a></li>  
		{% endif %}

    </ul>  
	</div>
</nav>
	
	<div id="header">
		<!--<img src="/media/logo-mines.png" />
		<h1>Les élèves des Mines</h1>
		<p><a href="/">Accueil</a> - <a href="/messages">Actualités</a> - <a href="/messages/tous">Tous</a> - <a href="/messages/importants">Importants</a> - <a href="/people">Trombi</a> - <a href="/petitscours">Petits cours</a></p>
		<div id="login">{% if user.is_authenticated %}
		<a href="/people/{{ user.username }}">{{ user.username }}</a> - <a href="/accounts/logout">Logout</a>
		{% else %}
		Vous n'êtes pas identifié<br /><a href="/accounts/login?next={{ request.get_path }}">S'identifier</a>
		{% endif %}</div>-->

	</div>
	
	{% if messages %}
<ul id="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
	<div id="content">
	    {% block content %}{% endblock %}
	</div>
</div>

</body>
</html>
