<div id = "menu-fond">
		<div id="mon_menu">
		<img src="{{ STATIC_URL }}nav_dropdown_li.png" style="display:none;"/><!-- prechargement image menu deroulant -->
			<ul id="topnav">  				
			{% load obtenir_nombre_messages %}{% if request.user.is_authenticated %}{% compter_messages request.user.username %}{% endif %}
			<li><a href="/messages"><img src="{{ STATIC_URL}}mail.png"><span><span id="compteur_messages">{{ nombre_de_messages }}</span>Message{{ nombre_de_messages|pluralize }}</span></a></li>  
			<li>
				<a href="/calendrier/"><img src="{{ STATIC_URL}}date.png"><span>Calendrier</span></a>  
			</li>
			<li>  
				<a href="/associations/"><img src="{{ STATIC_URL}}association.png"><span>Associations</span></a>  
				<ul class="subnav">
				{% load obtenir_liste_associations %}
				{% obtenir_associations %}
				{% for association in liste_des_associations|slice:":12" %}
					<li><a href="/associations/{{association.pseudo}}/">{{association.nom}}</a></li>  
				{% endfor %}
				<li><a href="/associations/">+ Autres</a></li>  
				</ul>  
			</li>  
			<li>  
				<a href="#"><img src="{{ STATIC_URL}}gear.png"><span>Services</span></a>  
				<ul class="subnav">  
					<li><a href="/people/">Trombi</a></li>  
					<li><a href="/chat/room/">Chat</a></li>  
					<li><a href="/petitscours/">Petits cours</a></li>
					<li><a href="/objetstrouves/">Objets trouvés</a></li>
					<li><a href="/timetable/">Emploi du temps</a></li>  
					<li><a href="http://sgs.mines-paristech.fr">SGS</a></li>  
				</ul>  
			</li>  
			<li>
			<!--<div id="champ_recherche">
				<form action="/recherche/" method="get">
					<input id="string_recherche" type="text" size="13" name = "q"/>
					<button id="bouton_recherche" type="submit" title="Rechercher">
					<img src = "{{ STATIC_URL }}loupe.png" alt="Rechercher">
					</button>
				</form>
			</div>-->
			<form id = "champ_recherche" action="/recherche/" method="get">
					<input id="string_recherche" type="text" size="16" name = "q"/>
					<button id="bouton_recherche" type="submit" title="Rechercher">
					<img src = "{{ STATIC_URL }}loupe.png" alt="Rechercher">
					</button>
				</form>
			</li>  
			{% if request.user.is_staff %}<li><a href="/admin/"><img src="{{ STATIC_URL}}Suit.png"><span>Administration</span></a></li>  {% endif %}
			{% if user.is_authenticated %}
			{% load obtenir_nombre_notifications %}{% compter_notifications request.user.username %}
			<li class="droite">  
				<a id = "menu_notifications" href="/notifications/">{{ nombre_de_notifications }}</a>	
			</li>
			<li class="droite">  
				<a href="/people/{{ user.username }}/">{% if request.user.get_profile.est_une_fille %}<img src="{{ STATIC_URL}}user_girl.png">{% else %}<img src="{{ STATIC_URL}}user_guy.png">{% endif %}<span>{{ user.username }}</span></a>  
				<ul class="subnav">  
					<li><a href="/people/{{ user.username }}/">Ma page</a></li>  
					<li><a href="/accounts/logout/">Se déconnecter</a></li>
				</ul>  
			</li>
			
			{% else %}
			<li class="droite"><a href="/accounts/login?next={{ request.get_path }}">S'identifier</a></li>  
			{% endif %}

		</ul>  
		</div>
	</div>
