{% extends "base.html" %}

{% block header %}
    <link rel="stylesheet" href="{{ STATIC_URL }}trombi.css" />
{% endblock %}

{% block content %}
{% load avatar_tags %}

<div id="picture" class="pull-right">
<!--<img src="{{ STATIC_URL }}{{ mineur.username }}.jpg" />-->
<img src = {% avatar_url mineur %}>
</div>

<h2>{{ mineur.get_profile.first_name }} {% if mineur.get_profile.surnom %}"{{ mineur.get_profile.surnom}}"{% endif %} {{ mineur.get_profile.last_name|upper }}</h2>

<p><strong>Mail</strong> : <a href="mailto:{{ mineur.email }}">{{ mineur.email }}</a></p>
<p><strong>Promotion</strong> : {{ mineur.get_profile.promo }}</p>
<p><strong>Date de naissance</strong> : {{ mineur.get_profile.birthday }}</p>

{% if mineur.get_profile.phone != "" %}
<p><strong>Téléphone</strong> : {{ mineur.get_profile.phone }}</p>
{% endif %}

{% if mineur.get_profile.chambre != "" %}
<p><strong>Chambre</strong> : {{ mineur.get_profile.chambre }}</p>
{% endif %}

{% if mineur.get_profile.option != "" %}
<p><strong>Option</strong> : {{ mineur.get_profile.option }}</p>
{% endif %}

{% if assoces %}
<p><strong>Associations</strong> : </p>
<ul>
	{% for adhesion in assoces %}
		<li>
		<a href="/associations/{{adhesion.association.pseudo}}">{{adhesion.association}}</a> {%if adhesion.role != ""%}({{adhesion.role}}){% endif %}
		</li>
	{% endfor %}
</ul>
{% endif %}

{% if mineur.get_profile.maitrise_set.all %}
<p><strong>Instruments</strong> : </p>
<ul>
	{% for maitrise in mineur.get_profile.maitrise_set.all %}
		<li>
		{{ maitrise.instrument }} - <em>{{ maitrise.niveau }}</em>
		</li>
	{% endfor %}
</ul>
{% endif %}

{% if mineur.get_profile.co.all %}
<p><strong>Co{{ mineur.get_profile.co.count|pluralize }}</strong> : 
	{% for co in mineur.get_profile.co.all %}
		<a href="{{ co.get_absolute_url }}">{{ co.first_name }} {{ co.last_name|upper }}</a>{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} et {% else %}, {% endifequal %}{% else %}{% endif %}
	{% endfor %}
</p>
{% else %}
<p><strong>Pas de co</strong></p>
{% endif %}

{% if mineur.get_profile.parrains.all %}
<p><strong>Parrain{{ mineur.get_profile.parrains.count|pluralize }}</strong> : 
	{% for parrain in mineur.get_profile.parrains.all %}
		<a href="{{ parrain.get_absolute_url }}">{{ parrain.first_name }} {{ parrain.last_name|upper }}</a>{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} et {% else %}, {% endifequal %}{% else %}{% endif %}
	{% endfor %}
</p>
{% else %}
<p><strong>Pas de parrain</strong></p>
{% endif %}

{% if mineur.get_profile.fillots.all %}
<p><strong>Fillot{{ mineur.get_profile.fillots.count|pluralize }}</strong> : 
	{% for fillot in mineur.get_profile.fillots.all %}
		<a href="{{ fillot.get_absolute_url }}">{{ fillot.first_name }} {{ fillot.last_name|upper }}</a>{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} et {% else %}, {% endifequal %}{% else %}{% endif %}
	{% endfor %}
</p>
{% else %}
<p><strong>Pas de fillot</strong></p>
{% endif %}

<hr>

{% for question in liste_questions %}
	<p><strong>{{question.enonce}}</strong>  
	{% for reponse in liste_reponses %}
		{% if question = reponse.question %}
			{{reponse.contenu}}
		{% endif %}
	{% endfor %}
	</p>
{% empty %}
	<p>Questionnaire non disponible</p>
{% endfor %}

<hr>
<p><strong>Photos <a href='/associations/mediamines/'>MediaMines</a></strong> :</p>
{% for photo in mineur.get_profile.photo_set.all %}
	<a href="{{ photo.get_absolute_url }}"><img src="{{ photo.get_display_url }}" alt="{{ photo.title }}" width=120/></a>
{% endfor %}
<hr>
{% if mineur.username == user.username %}
<p><a href="/people/edit/">Modifier</a><br/>
<a href="/people/instruments/modifier/">Modifier les instruments</a><br/>
<a href="{% url 'avatar_change' %}">Ajouter une photo</a><br/>
<a href="{% url 'avatar_delete' %}">Supprimer une photo</a></p>

{% endif %}

{% endblock %}
