{% extends "trombi/base.html" %}

{% block content %}

<h2>{{ mineur.get_profile.first_name }} {{ mineur.get_profile.last_name|upper }}</h2>

<p><strong>Mail</strong> : <a href="mailto:{{ mineur.email }}">{{ mineur.email }}</a></p>

<p><strong>Promotion</strong> : {{ mineur.get_profile.promo }}</p>

<p><strong>Date de naissance</strong> : {{ mineur.get_profile.birthday }}</p>

<p><strong>Téléphone</strong> : {{ mineur.get_profile.phone }}</p>

<p><strong>Chambre</strong> : {{ mineur.get_profile.chambre }}</p>

<p><strong>Associations</strong> : </p>
<ul>
	{% for adhesion in assoces %}
		<li>
		<a href="/associations/{{adhesion.association.pseudo}}">{{adhesion.association}}</a> {%if adhesion.role != ""%}({{adhesion.role}}){% endif %}
		</li>
	{% endfor %}
</ul>

<p><strong>Option</strong> : {{ mineur.get_profile.option }}</p>

<p><strong>Co</strong> : <a href="/people/{{ mineur.get_profile.co }}">{{ mineur.get_profile.co.get_profile.first_name }} {{ mineur.get_profile.co.get_profile.last_name|upper }}</a></p>

<p><strong>Parrain</strong> : <a href="/people/{{ mineur.get_profile.parrain }}">{{ mineur.get_profile.parrain.get_profile.first_name }} {{ mineur.get_profile.parrain.get_profile.last_name|upper }}</a></p>

<p><strong>Fillot</strong> : <a href="/people/{{ mineur.get_profile.fillot }}">{{ mineur.get_profile.fillot.get_profile.first_name }} {{ mineur.get_profile.fillot.get_profile.last_name|upper }}</a></p>

<hr>

{% for question in liste_questions %}
	<p><strong>{{question.enonce}}</strong>  
	{% for reponse in liste_reponses %}
		{% if question = reponse.question %}
			{{reponse.contenu}}
		{% endif %}
	{% endfor %}
	</p>
{% empty %}
	<p>Questionnaire non disponible</p>
{% endfor %}

{% load avatar_tags %}

<div id="picture">
<!--<img src="{{ STATIC_URL }}{{ mineur.username }}.jpg" />-->
<img src = {% avatar_url mineur %}>
</div>

<hr>
<p><strong>Photos <a href='/associations/mediamines/'>MediaMines</a></strong> :</p>
{% for photo in mineur.get_profile.photo_set.all %}
	<a href="{{ photo.get_absolute_url }}"><img src="{{ photo.get_display_url }}" alt="{{ photo.title }}" width=120/></a>
{% endfor %}
<hr>
{% if mineur.username == user.username %}
<p><a href="/people/{{ mineur.username }}/edit">Modifier</a><br/>
<a href="{% url avatar_change %}">Ajouter une photo</a><br/>
<a href="{% url avatar_delete %}">Supprimer une photo</a></p>

{% endif %}

{% endblock %}
