{% extends "trombi/base.html" %}

{% block content %}

{{ mineur.get_profile.first_name }}
{{ mineur.get_profile.last_name|upper }}

<p>Promotion : {{ mineur.get_profile.promo }}</p>

<p>Date de naissance : {{ mineur.get_profile.birthday }}</p>

<p>Téléphone : {{ mineur.get_profile.phone }}</p>

<p>Chambre : {{ mineur.get_profile.chambre }}</p>

<p>Associations : </p>
<ul>
	{% for adhesion in assoces %}
		<li>
		<a href="/associations/{{adhesion.association.pseudo}}">{{adhesion.association}}</a> {%if adhesion.role != ""%}({{adhesion.role}}){% endif %}
		</li>
	{% endfor %}
</ul>

<p>Option : {{ mineur.get_profile.option }}</p>

<p>Co : <a href="/people/{{ mineur.get_profile.co }}">{{ mineur.get_profile.co.get_profile.first_name }} {{ mineur.get_profile.co.get_profile.last_name|upper }}</a></p>

<p>Parrain : <a href="/people/{{ mineur.get_profile.parrain }}">{{ mineur.get_profile.parrain.get_profile.first_name }} {{ mineur.get_profile.parrain.get_profile.last_name|upper }}</a></p>

<p>Fillot : <a href="/people/{{ mineur.get_profile.fillot }}">{{ mineur.get_profile.fillot.get_profile.first_name }} {{ mineur.get_profile.fillot.get_profile.last_name|upper }}</a></p>

<hr>

{% for question in liste_questions %}
	<p>{{question.enonce}} : 
	{% for reponse in liste_reponses %}
		{% if question = reponse.question %}
			{{reponse.contenu}}
		{% endif %}
	{% endfor %}
	</p>
{% endfor %}

{% load avatar_tags %}

<div id="picture">
<!--<img src="{{ STATIC_URL }}{{ mineur.username }}.jpg" />-->
<img src = {% avatar_url mineur %}>
</div>

{% if mineur.username == user.username %}
<p><a href="/people/{{ mineur.username }}/edit">Modifier</a><br/>
<a href="{% url avatar_change %}">Ajouter une photo</a><br/>
<a href="{% url avatar_delete %}">Supprimer une photo</a></p>

{% endif %}

{% endblock %}
