{% extends "base.html" %}

{% block header %}
    <link rel="stylesheet" href="{{ STATIC_URL }}trombi.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}list.css" />
	<title>Trombi</title>
	<script src="{{ STATIC_URL }}jquery.maskedinput.js" type="text/javascript"></script>
	<script type="text/javascript">
	jQuery(function($){
   $("#phone").mask("99 99 99 99 99");
});
</script>
{% endblock %}

{% block content %}

<form method="post" action="{{ request.path }}">
{% csrf_token %}
<table class = "edit">
<tr>
<td><label for="promo">Promotion :</label></td>
<td><input type="text" value="{{ mineur.get_profile.promo }}" name="promo"></td>
</tr>
<tr>
<td><label for="phone">Téléphone :</label></td>
<td><input type="text" id="phone" value="{{ mineur.get_profile.phone }}" name="phone"></td>
</tr>
<tr>
<td><label for="chambre">Chambre :</label></td>
<td><input type="text" value="{{ mineur.get_profile.chambre }}" name="chambre"></td>
</tr>
<tr>
<td><label for="option">Option :</label></td>
<td><input type="text" value="{{ mineur.get_profile.option }}" name="option"></td>
</tr>
</table>
<hr>
<table class = "edit">
<tr>
{% for question in liste_questions %}
	<td><label for="question_{{question.id}}">{{question.enonce}} : </label></td>
	<td><input type="text" value="{% for reponse in liste_reponses %}{% if question = reponse.question %}{{reponse.contenu}}{% endif %}{% endfor %}" name="question_{{question.id}}"></td>
{% endfor %}
</tr>
</table>
<input type="submit" />
</form>
<div id="picture">
<img src="{{ STATIC_URL }}{{ mineur.username }}.jpg" />
</div>

{% endblock %}
