<HTML>
<BODY>
<DIV ALIGN="center">


		  	  <OBJECT CLASSID="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" CODEBASE="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0" WIDTH="100%" HEIGHT="100%" ID="theMovie">
                <PARAM NAME="FlashVars" VALUE="zoomifyImagePath=/media/mine-graph">
                <PARAM NAME="MENU" VALUE="FALSE">
				<PARAM NAME="SRC" VALUE="/static/ZoomifyViewer.swf">
                <EMBED FlashVars="zoomifyImagePath=/media/mine-graph" SRC="/static/ZoomifyViewer.swf" MENU="false" PLUGINSPAGE="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash"  WIDTH="100%" HEIGHT="100%" NAME="theMovie"></EMBED>
              </OBJECT>


</DIV>
</BODY>
</HTML>