{% extends "base_header.html" %}

{% block header %}
    <link rel="stylesheet" href="{{ STATIC_URL }}trombi.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}list.css" />
	<title>Trombi</title>
	
{% endblock %}


{% block content %}

<p><a href="/people/trombi.vcf">Version smartphone</a> - <a href="/people/separation/">Les degrés de séparation</a></p>

{% regroup mineur_list by promo as mineurs %}
{% for promo in mineurs %}
    <h1 class="promo">La P{{ promo.grouper|stringformat:"02d" }}</h1>
	<ul class = "promo">
        {% for mineur in promo.list %}<li class="portrait">
		<a href = "/people/{{mineur.user.username}}">
		<img src="{{ STATIC_URL }}{{ mineur.user.username }}.jpg" />
		<p>{{mineur.first_name}}<br/>{{mineur.last_name|upper}}</p>
		</a>
		</li>{% endfor %}
    </ul>
{% endfor %}

{% endblock %}
