{% extends "base.html" %}

{% block header %}    
	<script type="text/javascript" src="{{ STATIC_URL }}chosen.jquery.js"></script>
	<link rel="stylesheet" href="{{ STATIC_URL }}chosen.css" />

	<script type="text/javascript">
	jQuery(document).ready(function(){
	  jQuery(".chosen").chosen();
	});
	</script>
{% endblock %}

{% block content %}

<h3>Les degrés de séparation du trombi</h3>

{% if recherche %}
{% if result %} 
{% endif %}
<p>
{% for eleve in result %}
<a href = "{{eleve.get_absolute_url }}">{{ eleve.first_name }} {{ eleve.last_name|upper }}</a>{% if not forloop.last %} --> {% endif %}
{% empty %}
Aucun chemin trouvé
{% endfor %}
</p>
{% endif %}

<form method="post" action="{{ request.path }}">
{% csrf_token %}
<table style="width:100%">
<tr height=50>
<td>Choisir une première personne</td>
<td>
<select class="chosen" name = "start_username">
{% for eleve in eleves %}
<option value="{{ eleve }}">{{ eleve.first_name }} {{ eleve.last_name|upper }}</option>
{% endfor %}
</select>
</td>
</tr>
<tr height=50>
<td>Choisir une deuxième personne</td>
<td>
<select class="chosen" name = "end_username">
{% for eleve in eleves %}
<option value="{{ eleve }}">{{ eleve.first_name }} {{ eleve.last_name|upper }}</option>
{% endfor %}
</select>
</td>
</tr>
</table>

<input type="submit" />
</form>

<p>Trouve le plus court chemin entre deux élèves parmi Mineurs.</p>
<p>Les relations actuellement utilisées sont : Parrain, Fillot, et Co.</p>
<p>A lire : <a href = "http://fr.wikipedia.org/wiki/Six_degr%C3%A9s_de_s%C3%A9paration">Six degrés de séparation</a></p>
<p><br/><br/><br/><br/><br/><br/></p>
<script type="text/javascript">
/*
$('select[name="start_username"]').multiselect({
		minWidth: '150',
		selectedList: 3,
		selectedText: '# élèves sélectionnés',
		noneSelectedText: 'Choisir son co',
		checkAllText: 'Tous',
		uncheckAllText: 'Aucun',
}).multiselectfilter({
		label: "",
		placeholder: "Entrez un nom"
});

$('select[name="end_username"]').multiselect({
		minWidth: '150',
		selectedList: 3,
		selectedText: '# élèves sélectionnés',
		noneSelectedText: 'Choisir son parrain',
		checkAllText: 'Tous',
		uncheckAllText: 'Aucun',
}).multiselectfilter({
		label: "",
		placeholder: "Entrez un nom"
});*/
</script>
{% endblock %}
