img.logo_assoce {
	position: relative; 
	width:80px;
	height:80px;
	top:10px;
	margin-right:15px;
}
@font-face {
	font-family: menu_font;
	src: url('menu_font.ttf');
}

#menu_onglets h1 {
	font-size:69px;
	text-align:center;
	font-family:menu_font, Arial;
	margin:0;
}

#menu_onglets ul {
list-style: none;
height:10px;
}

.portrait {
	float:left;
	width:100px;
	height:230px;
}

.portrait img {
	width:100%;
}


#equipe {
width:536px;
margin: 0 auto;
}