body {
	font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
	font-size: 83.33%;
}

p {
	margin: 0.5em;	
}

.ui-widget {
	font-size: 1em;	
}

#event_edit_container {
	display: none;
}

#event_edit_container ul {
	list-style:none;
}

.wc-header td {
/*	background: url(calendar-bg.png) repeat-x;*/
}

#event_edit_container label {
	display: block;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

#event_edit_container form ul {
	padding: 0.3em;
}

#event_edit_container select, #event_edit_container input[type='text'], #event_edit_container textarea {
	width: 250px;
	padding: 3px;
}

#event_edit_container input[type='text'] {
	width: 245px;
}

ul.formatted,ol.formatted {
	display: block;
	margin: 1em 0.5em;
}

ul.formatted li,ol.formatted li {
	margin: 5px 30px;
	display: auto;
}

ul.formatted li {
	list-style-type: disc;
}

ol.formatted li {
	list-style-type: decimal;
}
