#module_chat {
	margin-top: 10px;
	border: 1px solid #CCC;
	background-color: #E8E8E8;
	border-radius:9px;
	padding:5px;
	border-bottom-width:3px;
}

#chatwindow {
	 height: 140px;
	 width: 200px;	 
	 padding: 5px;
	 overflow: auto;
}

span {
	font-size:0.8em;
}

#msg {
	width:205px;
}