p.event_date {
	margin:0;
	width:100%;
	text-align:center;
	color:#828282;
	font-weight:bold;
}

a.event:hover {
	cursor:pointer;
}

p.event_auteur {
	text-align:center;
	margin:0;
}

p.event_auteur a{
	color:#828282;
}

p.event_auteur img{
	width:80px;
	vertical-align:top;
	/*border: 1px dashed #CCC;*/
}

div.event_proprietes {
	float:right;
	padding:5px;
	margin-left:5px;
	border: 1px dashed #CCC;
	/*background-color:#fafafa;*/
}