#evenements ul, #evenements li {
	margin:0; padding:0; width:100%;
}
#evenements ul li hr {
	width:35%;
	height:1px;
	background-color:#828282;
	border: 0;
	margin-top:2px;
	margin-bottom:3px;
}

p.event_date {
	margin:0;
	width:100%;
	text-align:center;
	color:#828282;
	font-weight:bold;
}

a.event {
	text-align:center;
	margin:0;
	display:block;
	width:100%;
	/*border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;*/
}

a.event:hover {
	cursor:pointer;
	background-color:#ccc;
	color:#FFF;
}

p.event_auteur {
	text-align:center;
	margin:0;
}

p.event_auteur a{
	color:#828282;
}

p.event_auteur img{
	width:80px;
	vertical-align:top;
	/*border: 1px dashed #CCC;*/
}

div.event_proprietes {
	float:right;
	padding:5px;
	margin-left:5px;
	border: 1px dashed #CCC;
	/*background-color:#fafafa;*/
}