.given {
	color: grey;
}
dt {
	margin-top: 5px;
	padding-top: 5px;
	border-top: solid 1px #eee;
}

#effectue {
	display: none;
	position: absolute;
	margin-top: 100px;
	margin-left: 75px;
	height: 100px;
	width: 350px;
	background: #97b790;
	padding: 8px;
	font-size: 1.3em;
	z-index: 21;

}