html, #content {
	font-size: 0.9em;
	font-family: Verdana,serif;
	/*font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;*/
	margin:0 ;
}

body {
	margin:auto;
	font-size: 0.9em;
	font-family: Verdana,serif;
}

h1, h2 {
	font-family: Georgia;
}


a:link {
	color: blue;
	text-decoration:none;
}

a:visited {
	color: blue;
	text-decoration:none;
}

a:hover {
	color:red;
	text-decoration:none;
}

a img {
	outline : none; border : 0;
}


#header {
	margin:0;
	height: 190px;
}
#banniere-fond {
	background: url(header-bg.png) repeat-x;
	width:100%;
	height:150px;
}
#banniere {
	width:1400px;
	height:150px;
	position:absolute;
	left:0;
	background: url(header.png) no-repeat;

}

#menu-fond {
	position:absolute;
	top:150px;
	width:100%;	
	height:40px;
    background: url(menu_bg.png) repeat-x; 
}

#mon_menu {	
	position:relative;
	width:980px;
	margin:0 auto;	
	}
	
#champ_recherche {
	position:relative;
	top:1px;
	height:34px;
    background:url(recherche.png) no-repeat;
    padding:2px 5px 4px 5px;
	width:140px;
}
#string_recherche {
	position:relative;
	top:6px;
	left:5px;
    background-color:transparent;
    border:none;
    font-size:13px;
	width:100px;
	height:15px;
}

#bouton_recherche {
	float:right;
	/*display:block;*/
	margin:6px 0 0 0;
	padding:0;
	font-family: Verdana,serif;
	font-style:normal;
	color: #000;
	font-size:15px;
	font-weight:bold;
	font-family: Arial, Helvetica,sans-serif;
	background: transparent;
  	border: 0px;
  	cursor: pointer;
  	text-decoration: none;	
}

#bouton_recherche:hover {
	color: #848484;	
}

#bouton_recherche img{
	height:21px;
	position:relative;
	top:-3px;
}


ul#topnav {  
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	top:0pt;
	left:0pt;
	font-size: 1.2em;  
	z-index:100;	
}  
ul#topnav li {  
	/*display:inline;*/
	float: left;  
	margin: 0;  
	padding: 0;
	position: relative; 
	z-index:100;	
}  
ul#topnav li.droite {  
	float: right;  
	margin: 0;  
	padding: 0 15px 0 0;  
	position: relative; 
} 
ul#topnav li a{  
	padding: 10px 5px;  
	color: #353535;
	display: block;  
	text-decoration: none;
	font-size:15px;
	font-weight:bold;
	font-family: Arial, Helvetica,sans-serif;
	float: left;  
}  
ul#topnav li a:hover{  
	color:#787878;
}  

ul#topnav li a span{  
	float: right;  
}  
ul#topnav li a span#compteur_messages{  
	float: left;  
	padding-right:5px;
} 

ul#topnav li a img{  
	margin-top:-6px;
	margin-right:4px;
}  

ul#topnav li ul.subnav {  
	list-style: none;  
	position: absolute; 
	left: 0; top: 39px;  
	background: url(nav_dropdown_li.png) repeat-y scroll 0 0 transparent; 
	margin: 0; padding: 0;  
	display: none;
	float: left;  
	width: 142px;  
	z-index:100;
	
}  

ul#topnav li:hover ul.subnav, ul#topnav li.over ul.subnav {
	display: block;
}

ul#topnav li ul.subnav li{  
	background: url(nav_dropdown_sep.gif) repeat-x scroll 0 bottom transparent;
	width: 136px;
	margin: 0 3px;
	padding: 0;
	clear: both;
	z-index:10;	
} 
ul#topnav li ul.subnav li a {
	float: left;  
	width: 121px;
	font-size:12px;
	line-height:8px;
	color:#454545;
	padding-left: 10px;
	z-index:10;
}  
ul#topnav li ul.subnav li a:hover { 
	background: #dadada url(dropdown_linkbg.png) no-repeat 10px center;  
}  

ul#topnav li a#menu_notifications {
	float:right;
	width:25px;
	padding:0;
	display:lock; 
	height: 39px; 
	line-height: 39px;
	vertical-align:middle;
	text-align:center;
	color:#fff;
	font-size:0.8em;
}



#wrap {
	position:relative;
	width: 980px;
	margin: 0 auto;
}


#global_onglets {
	/*position: absolute;*/
	margin-left:222px;
	width: 516px;
	padding-left:10px;
}

#global_onglets.pleine_page {
	left:0;
	width: 980px;
}

#menu_onglets {
	font-family: Arial;
	overflow:hidden;
	font-size:17px;
	font-weight:bold;
	
}

#menu_onglets ul {
	position:relative;
	padding:0;
	margin:0 auto;
	margin-top:10px;
	list-style:none;
	display:table;
}
#menu_onglets ul.supplementaire {
	margin-top:-8px;
}

#menu_onglets ul li {
	display:table-cell;
	padding:0 5px;
}

#menu_onglets ul li a {
	text-decoration:none;
}

#menu_onglets ul li img {
	height:24px;
	width:24px;
	padding-top:3px;
}

#menu_onglets ul li a span {
	float:right;
	padding:4px 0 3px 4px;
	color:#808080;
}

#menu_onglets ul li a:hover span {
	color:#666;
}

#menu_onglets ul li#actif span {
	float:right;
	padding:4px 0 3px 4px;
	color:#333333;
}

#menu_onglets hr {
	width:95%;
	margin:4px auto;
	color:#808080;
	background-color: #808080;
	height: 1px;
	border: 0;
}


#content_onglets {
	width: 100%;
	padding: 0;
	background: #fff;
	min-height: 240px;
	overflow:hidden;
}

#messages {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 250px;
	background: #FFCC99;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 15px;
	z-index: 15;
}
#messages li {
	list-style: none;
}
	
	
#barre_droite {
position:absolute;
 right:0;
 top:0;
 margin-top:42px;
 width:222px;
}

#barre_gauche {
position:absolute;
 left:0;
 margin-top:42px;
 width:222px;
}


#evenements ul {
	padding:0 10px;
	list-style:none;
}
#evenements li {
}

div.tooltip-from-event {
	background: url(event-gradient-hover.gif) repeat scroll 0% 0% rgb(230, 230, 230);
	border:1px solid rgb(180, 180, 180);
	padding:5px 8px;
	margin:0;
	max-width: 150px;
	overflow:auto;
	word-wrap:break-word;
}

#todo {
	position:relative;
	height:222px;
	background: url(todo.png) no-repeat;  
	background-position: 0 0;
	padding: 1px 10px 0 20px;
}
#todo p {
	margin: 8px 0;
}

#todo ul {
	margin:5px;
	padding: 0 10px;
}

#todo form {
position:relative;
}

#todo form input {
 background-color:#FFF3F3;
 padding:3px;
 border:1px solid #F5C5C5;
 border-radius:5px;
 width:150px;
 box-shadow:1px 1px 2px #C0C0C0 inset;
 }
 

#birthday {
 position:absolute;
overflow:hidden; 
}

div.module_top {
	position:relative;
	top:0;
	width:221px;
	height:44px;
	background: url(module_top.png) no-repeat;
	margin:0;
}

.module_top p {
	padding-top:12px;
	font-size:13px;
	font-weight:bold;
	text-align:center;
}
div.module_middle {
	position:relative;
	top:0;
	margin:0;
	padding:0;
	width:221px;
	background: url(module_middle.png) repeat-y;
	overflow:hidden; /* corrige les bugs d'espacement */

}

.module_middle  p{
	margin-left:13px;
	margin-bottom:0;
}

.module_middle  p.date{
	font-size:12px;
	color:#828282;
	font-weight:bold;
	margin-left:13px;
	margin-bottom:0;
}

.module_middle  a {
	font-size:11px;
	color:#000;
	margin-left:26px;
}
div.module_bottom {
	position:relative;
	top:0;
	margin:0;
	width:221px;
	height:44px;
	background: url(module_bottom.png) no-repeat;
}

.voteform  {
	text-align:center;
	margin-top:8px;
	
}

#sondage_question {
	text-align:center;
	font-weight:bold;
	margin:8px 0;
}

#sondage_date {
	font-size:12px;
	color:#828282;
	font-style:italic;
	text-align:center;

	
}

table#tableau_sondages {
	text-align:center;
	width:100%;
}

#sondage_precedent {
	float:left;
	cursor:pointer;
}

#sondage_suivant {
	float:right;
	cursor:pointer;
}

#proposer_sondage {
	float:right;
	margin-top:2px;
	margin-right:7px;
	width:16px;
	height:16px;
}

#scores_sondage {
	float:right;
	margin-top:2px;
	margin-right:3px;
	width:16px;
	height:16px;
}

.module table{
	text-align:center;
	width:100%;
}

.module table td{
	width:33%;
}

.module table caption {
	font-size:19px;
	margin-top:10px;
}