ul.liste_vendomes {
	padding:0;
}

li.vendome {
	display: inline-block;
	width:168px;
	text-align:center;
	vertical-align:top;
	/* for ie7 */
    zoom: 1;
    *display: inline;

}

li.vendome a img {
	width:168px;
}

li.vendome p {
	margin : 3px 0 0 0;
}

li.vendome p.date {
	font-style:italic;
	color:#ccc;
	margin-top:0;
	margin-bottom:5px;
}