{% extends "base.html" %}

{% block header %}
	<title>Bienvenue</title>
{% endblock %}

{% block content %}

<h2>Emploi du temps</h2>
<table>
<tbody><tr>
<td>Cette semaine</td>
<td><a target="_blank" href="http://www.ensmp.fr/Intra/IngCivil/EmploiTemps/Semaine/Encours1A.pdf"><b>1A</b></a></td>
<td><a target="_blank" href="http://www.ensmp.fr/Intra/IngCivil/EmploiTemps/Semaine/Encours2A.pdf"><b>2A</b></a></td>
<td><a target="_blank" href="http://www.ensmp.fr/Intra/IngCivil/EmploiTemps/Semaine/Encours3A.pdf"><b>3A</b></a></td>
</tr>
<tr>
<td>Semaine prochaine</td>
<td><a target="_blank" href="http://www.ensmp.fr/Intra/IngCivil/EmploiTemps/Semaine/Prochain1A.pdf"><b>1A</b></a></td>
<td><a target="_blank" href="http://www.ensmp.fr/Intra/IngCivil/EmploiTemps/Semaine/Prochain2A.pdf"><b>2A</b></a></td>
<td><a target="_blank" href="http://www.ensmp.fr/Intra/IngCivil/EmploiTemps/Semaine/Prochain3A.pdf"><b>3A</b></a></td>
</tr>
</tbody></table>
<h2>Services BDE</h2>
<div class="service"><a href="/people">Trombi</a></div>
<div class="service"><a href="/petitscours">Petits cours</a></div>
<div class="service"><a href="/timetable">Emploi du temps au format ical</a></div>
{% endblock %}
