{% extends "base.html" %}

{% block header %}
	<title>Emploi du temps</title>
	<link rel="stylesheet" href="/media/list.css" />
	<link rel="stylesheet" href="/media/chosen.css" />
	<script type="text/javascript" src="/media/chosen.jquery.js"></script>
{% endblock %}

{% block content %}

	<form id="codesform" action="mines.ics" method="GET">
	<label for="codes">Entrez la liste de vos cours (en effectuant une recherche par titre)<br /></label>
	<p></p>
	<div><select data-placeholder="Liste de cours" multiple class="chzn-select chzn-add" name="codes">
	{% for c in cours %}
		<option value="{{ c.code }}">{{ c.description }} ({{c.code}})</option>
	{% endfor %}
	</select></div>
	<p></p>
	<input type="submit" id="poutre" value="Poutre" />
	</form>
<!--	<p id="lien">Vous pouvez utiliser le lien suivant: <a id=""></a></p>

	<p> Une vidéo pour comprendre comment s'y prendre :</p>
	<iframe width="640" height="480" src="http://www.youtube.com/embed/PKop1m-jLAU" frameborder="0" allowfullscreen></iframe>
-->
	<p><br></p>
	<p>Ceci permet d'avoir l'agenda des mines sur son TMP/ordinateur/google calendar.</p>
	<p>Mais je vous rappelle que seul l'emploi du temps affiché devant les BAL est à jour.</p>
	<p>D'autre part il n'y a pas les salles.</p>
	<p><br><br><br><br><br></p>

	<script type="text/javascript">
		$(".chzn-select").chosen();
	</script>

{% endblock %}