

{% block header %}
    <link rel="stylesheet" href="{{ STATIC_URL }}trombi.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}list.css" />
	<title>Trombi</title>
	
{% endblock %}


{% block content %}
{% regroup mineur_list by promo as mineurs %}
{% for promo in mineurs %}

<ul class = "promo">
        {% for mineur in promo.list %}<li class="portrait">
    <a href = "/people/{{mineur.user.username}}">
    <img src="{{ STATIC_URL }}{{ mineur.user.username }}.jpg" />
      <p>{{mineur.first_name}}<br/>{{mineur.last_name|upper}} </p>
    </a>{% for ad in adhesions %}
    {% if ad.eleve_id == mineur.id %}
    {% for as in assoces %}
    {% if as.id == ad.association_id %}
    <p>{{as.nom}} </p>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endfor %}
    </li>&nbsp; &nbsp; &nbsp; &nbsp; 
    {% endfor %}
      </ul>
   {% endfor %}


{% endblock %}
