{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="{{ STATIC_URL }}association.css" />
{% endblock %}

{% block onglets %}
<div id="menu_onglets">
<h1><img class="logo_assoce" src = "{{ STATIC_URL }}logo_paindemine.png">paindemine</h1>
<ul class="nav nav-pills">
    <li><a href="/associations/paindemine/messages/"><img src="{{ STATIC_URL }}mail.png"/><span>Messages</span></a></li>
    <li><a href="/associations/paindemine/evenements/"><img src="{{ STATIC_URL }}date.png"/><span>Événements</span></a></li>
    <li><a href="/associations/paindemine/equipe/"><img src="{{ STATIC_URL }}user.png"/><span>Équipe</span></a></li>
    <li><a href="/associations/paindemine/medias/"><img src="{{ STATIC_URL }}clapperboard.png"/><span>Médias</span></a></li>
	<li><a href="/associations/paindemine/catalogue_pain/"><img src="{{ STATIC_URL}}page_catalogue_pain.png"/><span>Catalogue</span></a></li>
    <li><a href="/associations/paindemine/soldespaindemine/"><img src="{{ STATIC_URL }}page_soldespaindemine.png"/><span>Soldes</span></a></li>
    <li class="active"><a href="/associations/paindemine/affichagesoldes/"><img src="{{ STATIC_URL }}page_comptes.png"/><span>Comptes</span></a></li>
</ul>
<hr />
</div>
{% endblock %}

{% if perms.soldes_paindemine %}

{{l}}
{% block content %}
<p>
	
{% for eleve,solde in liste_eleve %}

 {{eleve}} : {{solde}} <br \>

{% endfor %}
</p>
{% endblock %}
{% endif %}