{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="{{ STATIC_URL }}association.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}evenements.css" />
<link type="text/css" href="{{ STATIC_URL }}jquery-ui-1.8.11.custom.css" rel="stylesheet" />
<link type="text/css" href="{{ STATIC_URL }}bootstrap-timepicker.min.css" />
<script type="text/javascript" src="{{ STATIC_URL }}jquery-ui-1.8.21.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap-timepicker.min.js"></script>

<script type="text/javascript">
	$(function(){
		$('#datepicker').datepicker({
			inline: true, 
			dateFormat: "dd/mm/yy", 
			minDate: new Date(), 
			monthNames: ["Janvier","Février","Mars","Avril","Mai","Juin","Juillet","Août","Septembre","Octobre","Novembre","Décembre"], 
			monthNamesShort: ["Jan","Fév","Mar","Avr","Mai","Juin","Juil","Aoû","Sep","Oct","Nov","Déc"],
			dayNames: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"],
			dayNamesMin: ["Di", "Lu", "Ma", "Me", "Je", "Ve", "Sa"],
			dayNamesShort: ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam"],
			prevText: "Précédent",
			nextText: "Suivant",
			
		});
	});
</script>
{% endblock %}

{% block onglets %}
<div id="menu_onglets">
<h1><img class="logo_assoce" src = "{{ STATIC_URL }}logo_{{association.pseudo}}.png">{{association.nom}}</h1>

<ul class="nav nav-pills">
<li><a href="/associations/{{association.pseudo}}/messages/"><img src="{{ STATIC_URL}}mail.png">Messages</a></li>
<li class="active"><a href="/associations/{{association.pseudo}}/evenements/"><img src="{{ STATIC_URL}}date.png">Évenements</a></li>
<li><a href="/associations/{{association.pseudo}}/equipe/"><img src="{{ STATIC_URL}}user.png">Équipe</a></li>
<li><a href="/associations/{{association.pseudo}}/medias/"><img src="{{ STATIC_URL}}clapperboard.png">Médias</a></li>
{% if association.page_set.all %}
{% for page in association.page_set.all %}
<li><a href="{% if not page.is_externe %}/associations/{{association.pseudo}}/{% endif %}{{ page.lien }}"><img src="{{ STATIC_URL}}page_{% if not page.is_externe %}{{page.lien}}{% else %}site{% endif %}.png"><span>{{page.titre}}</span></a></li>
{% endfor %}
{% endif %}
</ul>
<hr />
</div>
{% endblock %}

{% block content %}
<h3>Nouvel événement</h3>
<form id="addform" method="post" action="">
{% csrf_token %}
<p>
<label for="titre">C'est quoi ? - </label>
<input type="text" name="titre" placeholder="Saisissez le titre"/>
</p>
<p>
<label for="lieu">C'est où ? - </label>
<input type='text' name='lieu' placeholder="Saisissez le lieu" />
</p>
<p>
<label for="date">C'est quel jour ? - </label>
<input id="datepicker" type="text" name = "date" placeholder="Saisissez la date">
</p>
<label for="debut">Ca commence quand ? - </label>
<div class="input-append bootstrap-timepicker">
<input id="timedebutpicker" class="input-small" type="text" name = "debut">
</div>
<label for="fin">Ca se termine quand ? - </label>
<div class="input-append bootstrap-timepicker">
<input id="timefinpicker" class="input-small" type="text" name = "fin" placeholder="L'heure de fin">
</div>
<p>Pourquoi je dois venir ?</p>
<p><textarea name="description" style="width:414px;height:64px;" placeholder="Ecrivez une description de l'événement"></textarea></p>
<input type='submit' value='Terminer' />
</form>

<script type="text/javascript">
$('#timedebutpicker').timepicker({
showMeridian: false,
showInputs: true
});
$('#timefinpicker').timepicker({
showMeridian: false,
showInputs: true
});
</script>
{% endblock %}