{% extends "base_visiteur.html" %}

{% block content %}
<div class="row-fluid">
	<div class="span3 bs-docs-sidebar" id = "faqbar" data-spy="affix">
        <ul class="nav nav-list bs-docs-sidenav affix-top">
        <li class="active"><a href="#poser"><i class="icon-chevron-right"></i>Poser une question</a></li>
		{% for question in questions %} 	
          <li><a href="#question{{ question.id }}"><i class="icon-chevron-right"></i> {{ question.objet }}</a></li>
		  {% endfor %}
        </ul>
  </div>
	  
  <div class="span9 pull-right">
  	<div class="pagination pull-right" style="padding-top:35px">
		<ul>
			{% if questions.has_previous %}
				<li><a href="?page={{ questions.previous_page_number }}">«</a></li>
				<li><a href="?page={{ questions.previous_page_number }}">{{ questions.previous_page_number }}</a></li>
			{% endif %}
			<li class="active"><a href="?page={{ questions.number }}">{{ questions.number }}</a></li>

			{% if questions.has_next %}
				<li><a href="?page={{ questions.next_page_number }}">{{ questions.next_page_number }}</a></li>
				<li><a href="?page={{ questions.next_page_number }}">»</a></li>
			{% endif %}
		</ul>
	</div>

	<section id="poser" style="padding-top:35px">
            <h2><a href="poser_question/">Poser une question</a></h2>		    
	</section>

    {% for question in questions %}
	    <section id="question{{ question.id }}" style="padding-top:35px">
            <h2>{{ question.objet }}</h2>
		    <p>{{ question.contenu|linebreaksbr }}</p>
	        {% if question.reponse %}
		        <div class = "reponse text-success">			
			        <p class="auteur pagination-centered">Réponse de {{ question.reponse.eleve.get_profile.first_name }} {{ question.reponse.eleve.get_profile.last_name|upper }}<br/> 
			        <span class = "date">Le {{ question.reponse.date }}</span></p>
			        <p style="margin-left:30px">{{ question.reponse.contenu|linebreaksbr }}</p>
		        </div>
	        {% endif %}
	    </section>
	    <hr/>
    {% empty %}
	    <p>Aucune question n'a été posée</p>
    {% endfor %}
</div>
</div>

<script type="text/javascript">
$(".pagination ul li.disabled a, .pagination ul li.active a").click(function(event) {
	event.preventDefault();
});
</script>
{% endblock %}