{% extends "base_visiteur.html" %}


{% block content %}

<h1>La vie à l'école</h1><br>

<img class="pull-right img-polaroid" src="{{ STATIC_URL }}devantMines.jpg"/>



<p>La vie à l’Ecole suit un rythme très différent de celui que vous avez connu en classe préparatoire et il vous faudra surement un certain d’adaptation. Les cours commencent, pour les élèves de première année, à 8h30 et se terminent à 16h45 ou 18h15 suivant les jours. Deux demi-journées, les mardi matins et les jeudi après-midis, sont consacrées au sport : De façon non obligatoire, vous pouvez vous inscrire dans un grand nombre de disciplines comme le volley, le basket, le foot, le rugby, l’aviron, le badminton, la natation, la musculation, l’athlétisme, le squash, l’escalade, … A ces créneaux s’ajoutent deux heures d’anglais et au moins autant d’une LV2 au choix, sachant que vous pouvez étudier jusqu’à quatre langues (parmi allemand, espagnol, portugais, arabe, chinois, japonais, russe). </p>
<p>Le midi, vous disposerez a priori d’au moins une heure pour manger, parfois deux, ce qui vous laisse le temps de profiter du restaurant universitaire, de rentrer à la Maison des Mines pour vous cuisiner vous-même quelque chose ou encore de vous acheter un repas chez un des nombreux commerçants du quartier. Ensuite, libre à vous de venir manger chez vous ou, dans le jardin de l’Ecole quand il fait beau, ou au foyer entre deux parties de baby foot.</p>
<p>Le soir, de nombreuses activités ont lieu toute la semaine au sous-sol de la résidence. Une fois par semaine, vous pourrez venir y pratiquer, par exemple, la zumba, ou encore prendre part au club Rock. D’autres rendez-vous hebdomadaires vous attendent également une fois rentré comme la rédaction du Vendôme, le journal de l’Ecole, tous les lundis soirs, ou les répétitions de la fanfare.</p>

<br>
<ol><li> <strong>Si vous êtes une entreprise </strong> intéressée par notre école, cliquez sur <a href="/entreprises/"> l'onglet Entreprises.</a></li>
<li> <strong>Si tu es admissible au concours Mines-Ponts </strong>, d'abord, félicitations ! Sur ce site, tu trouveras les réponses à toutes les questions que tu peux te poser actuellement au sujet des Mines de Paris. À la recherche d'une information sur la vie que mènent nos étudiants ? Commence par regarder notre plaquette via <a href="/abatage/"> l'onglet Abatage</a>. Et si d'autres questions te tourmentent, rends-toi sur <a href="/faq/">notre FAQ</a>, nous répondrons dans les plus brefs délais ! Tu peux également aller sur notre page facebook pour discuter avec des élèves de l'école !</li>
<li><strong>Vous cherchez à diffuser une annonce de cours particuliers ? </strong> <a href="/petitscours/demander/">L'onglet Cours Particuliers</a> est fait pour vous.</li>
<li> <strong>si tu es élève à l'école </strong>et que tu souhaites consulter notre page d'actu, parcourir le trombinoscope, revoir tes plus belles photos de soirée, lire et relire le journal de l'école ou parler de ta vie sur le chat, <a href="/accounts/login/">connecte-toi</a> au plus vite !</li>
<li>Si tu dois passer des oraux à l'école, nous avons <a href="/admissibles/">quelques conseils pour toi</a></li>
<li>Si tu es admis, 
rends-toi sur <a href="/logement/">notre page sur les conditions de logement</a> ou <a href="/rentree/">viens chercher des informations sur la rentrée</a></li></ol>

{% endblock %}
