<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
	<meta name="author" content="Edouard Leurent"/>
	<meta name="description" content="Le portail des élèves de l'école des Mines de Paris"/>
	<meta name="keywords" content="portail, élèves, eleves, ecole, mines, paris, paristech, ensmp, mines-paris"/>
	<meta name="date" content="2012-09-11"/>
	<title>Player MINEStry Of Sound</title>
</head>

<body>
<object type="application/x-shockwave-flash" data="{{ STATIC_URL }}dewplayer-playlist.swf" width="240" height="200" id="dewplayer" name="dewplayer">
			<param name="wmode" value="transparent" />
			<param name="movie" value="dewplayer-playlist.swf" />
			<param name="flashvars" value="showtime=true&autoreplay=true&xml=playlist.xml" />
			</object>
</body>