{% extends "base_visiteur.html" %}


{% block content %}

<h1>Pour les admissibles</h1>

<img class="pull-right img-polaroid" src="{{ STATIC_URL }}devantMines.jpg"/>


<p><strong>Bienvenue sur le portail des élèves de l'École des Mines de Paris (MINES ParisTech).</strong> Fondée en 1783, l'École des Mines se situe au cœur du quartier latin, au 60 Boulevard Saint-Michel. Elle accueille chaque année une centaine des meilleurs préparationnaires mais aussi de nombreux admis sur titre, mastériens ou doctorants, qui bénéficient tous d'un enseignement d'exception.</p>

<h3>Entre les oraux...</h3>

	<p>En l'an de grâce 2014, le plateau de Saclay est en voie de regrouper toutes les grandes écoles de la région parisienne. Toutes? Non! L'Ecole des Mines résiste encore et toujours à la délocalisation, et les Mineurs ont encore de beaux jours à passer dans le quartier latin! Profitez de votre semaine d'oraux pour découvrir ce petit coin de paradis et reposer vos neurones entre la physique et les langues. Des membres de l’Ecole vous attendent à l’entrée pour vous accueillir et vous aider afin de vous éviter tout stress superflu.</p>

<h3>Le musée de Minéralogie</h3>

	<p>Ne l'oublions pas, l'Ecole des Mines formait jadis et forme encore des mineurs (oui, encore aujourd'hui, il reste des amoureux des cailloux et du sous-sol). Pour parfaire leur formation et peaufiner la connaissance des minéraux, de nombreuses pièces uniques ont ainsi été récupérées depuis la fin du 18ème siècle, des pépites d'or aux émeraudes scintillants en passant par les fragments de météorites. C'est une authentique palette de couleurs qui se présente à vous à travers les lignes délicates de chefs d'oeuvres naturels. Un véritable régal pour les yeux.</p>

<h3>Le Jardin du Luxembourg</h3>

	<p>C'est LE rendez-vous incontournable des Parisiens du quartier dès qu'un rayon de soleil illumine la Sénat. Venez y déambuler une glace à la main avant de vous assoir sur la pelouse pour profiter d'un moment de détente. Si vous avez de la chance, vous pourrez même envisager une sieste au son des musiciens qui investissent régulièrement de le belvédère. Sinon, n'hésitez pas à longer le parc côté Saint-Michel pour profiter des photos accrochées aux grilles avant de poursuivre vers le musée du Luxembourg en compagnie d'autres amateurs d'art. Les plus sportifs pourront faire le célèbre footing autour du Luco et évacuer la pression en tapant quelques balles de tennis.</p>

<h3>Le Panthéon</h3>

	<p>"Aux grands hommes la patrie est reconnaissante". Imaginez donc Aimé Césaire, Jean Moulin et Marie Curie réunis sous le même toît pour l'éternité sous le regard attentif du pendule de Foucault, qui après des années semble toujours hésiter entre la gauche et la droite. Sous la coupole, le calme règne et saura vous ressourcer.</p>

<h3>La rue Mouffetard</h3>

	<p>LA rue du quartier latin. Les inconditionnels du Macdo et/ou du Quick peuvent se contenter de rester sur le Boulmich. Néanmoins, pour se plonger dans l'ambiance du Quartier Latin, il faut aller se perdre du côté de la rue Mouffetard, de la rue Descartes et de la place de la Contrescarpe. Les restaurants et les bars y pullulent, avec des prix qui peuvent être plus que raisonnables (LaFourchette est ton amie!). Que vous vouliez aller fêter votre dernier oral avec un vrai repas ou vous remettre d'aplomb en allant prendre un pot avec vos collègues, vous adorerez cette ambiance de village.</p>

<h3>Ailleurs...</h3>

	<p>Malgré sa richesse, le 5ème arrondissement ne regroupe qu'une infime partie  des merveilles de la ville des Lumières. Vous pouvez aussi imaginer une petite ballade dans le Louvre en fin d'après-midi : Les statues antiques et les tableux des grands maîtres seront très heureux de vous y accueillir. Entre le Grand Palais, le petit palais, le Palais de la Découverte ou Beaubourg, vous n'avez aucune excuse pour rester immanquablement enfermé dans votre chambre.</p>

<br><br><br>
<h2>Pour les autres</h2>


<ol><li> <strong>Si vous êtes une entreprise </strong> intéressée par notre école, cliquez sur <a href="/entreprises/"> l'onglet Entreprises.</a></li>
<li> <strong>Si tu es admissible au concours Mines-Ponts </strong>, d'abord, félicitations ! Sur ce site, tu trouveras les réponses à toutes les questions que tu peux te poser actuellement au sujet des Mines de Paris. À la recherche d'une information sur la vie que mènent nos étudiants ? Commence par regarder notre plaquette via <a href="/abatage/"> l'onglet Abatage</a>. Et si d'autres questions te tourmentent, rends-toi sur <a href="/admissibles/">notre page dédiée</a> ou sur <a href="/faq/">notre FAQ</a>, nous répondrons dans les plus brefs délais ! Tu peux également aller sur notre page facebook pour discuter avec des élèves de l'école !</li>
<li><strong>Vous cherchez à diffuser une annonce de cours particuliers ? </strong> <a href="/petitscours/demander/">L'onglet Cours Particuliers</a> est fait pour vous.</li>
<li> <strong>si tu es élève à l'école </strong>et que tu souhaites consulter notre page d'actu, parcourir le trombinoscope, revoir tes plus belles photos de soirée, lire et relire le journal de l'école ou parler de ta vie sur le chat, <a href="/accounts/login/">connecte-toi</a> au plus vite !</li>
<li>Si tu es admis, 
rends-toi sur <a href="/admis/">notre page concernant la vie à l'Ecole</a>, sur
 <a href="/logement/">celle sur les conditions de logement</a> ou <a href="/rentree/">viens chercher des informations sur la rentrée</a></li></ol>

{% endblock %}
