{% extends "base_visiteur.html" %}


{% block content %}

<h1>Le mot du prez</h1>

<img class="pull-right img-polaroid" src="{{ STATIC_URL }}prez.png"/>

<p>Ami taupin, amie taupine,
Laisse moi te présenter notre école... de légende!
Commençons par une leçon de géographie. Nous
ne appelons pas Mineurs de Paris pour notre seul
bon plaisir, l’école se situe de fait au coeur de la
capitale et jouit d’une proximité inégalée avec
les plus beaux quartiers. Installée dans l’Hôtel
Vendôme avec terrasse ouverte sur le jardin du
Luxembourg, l’école se dresse au coeur du quartier
latin sur le Boulevard Saint-Michel. Prendre
un café face au Panthéon ? Faire ton footing dans
le jardin du Luxembourg (« le Luco » pour les
intimes) ? Tout ceci devient réalité aux Mines de
Paris.<br/> 
Certains risquent alors de rétorquer : « Et
le logement à Paris ? » Sachez jeunes gens que la
maison des Mines (appelée plus couramment «
la Meuh »), située à 5 minutes de l’école à pied,
permet d’accueillir chaque année les élèves des
trois promotions, pour la ridicule somme de 250
euros par mois. Sorte de collocation gigantesque,
la Meuh est un lieu chéri par les Mineurs qui leur
offre bien plus qu’un toit et un lit, car elle leur
offre une famille. Animal étrange, le Mineur a
pris l’habitude de descendre au premier sous-sol
pour festoyer, dans la « Fosse Aux Ours » (FAO).
Nous organisons une partie des soirées dans
ce lieu (l’autre partie ayant lieu dans des lieux
d’exception : Bataclan, sommet de la tour Montparnasse…).
Plus qu’un simple immeuble dont le
sous-sol peut se transformer en véritable boîte de
nuit, la Meuh, c’est aussi une salle de musculation,
deux salles insonorisées pour nos musiciens
et une salle télé. <br/>
J’entends déjà les soupirs des
sportifs qui se demandent : « Où vais-je bien pouvoir
faire du poney ? » Notre campus, c’est Paris.
Tu pourras ainsi jouer au tennis dans les cours du
Jardin du Luxembourg, ou faire du rugby à la cité
universitaire. Tu l’auras compris, il y en a pour
tous les goûts.
</p>
<p>
Aux Mines, les promotions sont de petite taille.
D’expérience, je peux te dire que le format de la
promotion (environ 100 personnes) procure des
avantages incroyables que l’on ne retrouve dans
aucune autre école. Ce sont tout d’abord des liens
extrêmement forts qui se créent entre les Mineurs.
Rares sont les élèves des autres écoles qui peuvent
se vanter de connaître le nom de tous leurs camarades,
ou d’avoir une famille (chaque Mineur a un
parrain de la promotion antérieure) qui s’étend
sur plus de 10 ans. « Petite promo » signifie aussi
être chouchouté par la Direction des Études, qui
t’aidera à construire le cursus de ton choix. En ce
qui concerne l’ambiance et la vie associative, nous
avons aussi ce qu’il te faut. Pléthore d’associations
t’attendent, depuis le club d’oenologie (CAV) et son
pendant dans le domaine de la bière (la Biéro)
jusqu’au Bureau Des Elèves en passant par le club
Voile. Et s’il n’y en a pas à votre goût, pourquoi ne
pas la fonder ?
</p>
<p>
Plus studieusement, les Mines de Paris te proposent
un enseignement de qualité. Qu’avons nous
de plus que les autres ? L’École propose un
très large panel de cours, rythmés par de nombreux
stages, comme la Géol’, le MIG, ou le stage
d’option. Aux Mines, tu auras de nombreux choix
à faire pour façonner ton enseignement. N’aies
crainte, ceux-ci ne t’engagent en rien quant à ton
avenir puisque la volonté de l’école est de former
des ingénieurs « généralistes », qui sont aptes, plus
tard dans leur carrière, à se spécialiser dans le
domaine de leur choix. Le rayonnement de l’école
ne s’arrête pas au niveau du périph’ et s’étend
bien au-delà, à l’étranger. Les semaines Athens
(un échange type Erasmus d’une semaine) et les
semestres académiques dans les plus grandes universités
(MIT, Caltech, Hong-Kong, Sydney, etc.)
te donneront la possibilité de suivre des cours originaux
ou de mener à bien un projet d’ingénieur.<br/>
Revenir bilingue de son périple et faire de nouvelles
rencontres sont aussi des avantages non
négligeables de ces échanges à l’international.
Que tu veuilles rester au chaud à la Meuh ou
faire la tournée des bars dans la rue Mouffetard,
tu l’auras compris, les Mines t’offrent une situation
exceptionnelle dans Paris, tant du point de
vue de la vie étudiante que de l’enseignement proposé.
</p>
<p>Ceci n’est qu’un simple page qui est censée
t’en apprendre un peu plus sur notre belle école.
Sans prétention aucune, je peux te dire que je ne
reviendrai jamais sur le choix de mon école. En
espérant t’avoir convaincu du
fait que tout est possible aux
Mines de Paris,
Bonne visite à toi et à bientôt
j’espère.</p>
<p class="pull-right text-info">Paul, prez’ BDE</p>

{% endblock %}
