{% extends "base_visiteur.html" %}


{% block content %}

<h1>Le mot du prez</h1>

<img class="pull-right img-polaroid" src="{{ STATIC_URL }}prez.png"/>

<p>Bienvenue sur le portail des élèves de l’Ecole des Mines de Paris (Mines ParisTech). L’école des Mines se situe au cœur du cinquième arrondissement de Paris, au 60 Boulevard Saint-Michel. Fondée en 1783,  l’école accueille chaque année une nouvelle promotion de préparationnaires (sans oublier les AST, les mastériens et les doctorants) et leur propose un enseignement scientifique complet de haut niveau. Ce site sert de page d’actualités et de trombinoscope aux élèves de l’Ecole.</p>

<p><strong>Si vous êtes une entreprise cherchant à entrer en contact avec le Bureau Des Elèves</strong> : La section <strong>« entreprises »</strong> est là pour vous guider.</p>

<p><strong>Si tu es admissible au concours Mines-Ponts</strong> : Premièrement félicitations pour ta réussite. Sur ce site tu trouveras les réponses à toutes les questions que tu peux te poser actuellement au sujet des Mines de Paris. A la recherche d’une information sur la vie que mènent les étudiants aux Mines ? Commence par regarder notre plaquette, l’ <strong>« Abatage »</strong>. Si d’autres questions te tourmentent, n’hésite pas et utilise la FAQ, nous répondrons dans les plus brefs délais.</p>

<p><strong>Si vous cherchez à diffuser une annonce de cours particuliers</strong> qui pourrait intéresser les élèves des Mines : La section <strong>« cours particuliers »</strong> est faite pour vous.</p>
<p class="pull-right text-info">Paul, prez’ BDE</p>

{% endblock %}
