{% extends "base_visiteur.html" %}


{% block content %}
{% csrf_token %}
<h1>Le mot du président</h1>

<img class="pull-right img-polaroid" src="{{ STATIC_URL }}prez.png"/>


<p><strong>Bienvenue sur le portail des élèves de l'École des Mines de Paris (MINES ParisTech).</strong> Fondée en 1783, l'École des Mines se situe au cœur du quartier latin, au 60 Boulevard Saint-Michel. Elle accueille chaque année une centaine des meilleurs préparationnaires mais aussi de nombreux admis sur titre, mastériens ou doctorants, qui bénéficient tous d'un enseignement d'exception.</p>

<ol><li> <strong>Si vous êtes une entreprise </strong> intéressée par notre école, cliquez sur <a href="/entreprises/"> l'onglet Entreprises.</a></li>
<li> <strong>Si tu es admissible au concours Mines-Ponts </strong>, d'abord, félicitations ! Sur ce site, tu trouveras les réponses à toutes les questions que tu peux te poser actuellement au sujet des Mines de Paris. À la recherche d'une information sur la vie que mènent nos étudiants ? Commence par regarder notre plaquette via <a href="/abatage/"> l'onglet Abatage</a>. Et si d'autres questions te tourmentent, rends-toi sur <a href="/admissibles/">notre page dédiée</a> ou sur <a href="/faq/">notre FAQ</a>, nous répondrons dans les plus brefs délais ! Tu peux également aller sur notre page facebook pour discuter avec des élèves de l'école !</li>
<li><strong>Vous cherchez à diffuser une annonce de cours particuliers ? </strong> <a href="/petitscours/demander/">L'onglet Cours Particuliers</a> est fait pour vous.</li>
<li> <strong>si tu es élève à l'école </strong>et que tu souhaites consulter notre page d'actu, parcourir le trombinoscope, revoir tes plus belles photos de soirée, lire et relire le journal de l'école ou parler de ta vie sur le chat, <a href="/accounts/login/">connecte-toi</a> au plus vite !</li>
<li>Si tu dois passer des oraux à l'école, nous avons <a href="/admissibles/">quelques conseils pour toi</a></li>
<li>Si tu es admis, 
rends-toi sur <a href="/vie/">notre page concernant la vie à l'Ecole</a>, sur
 <a href="/logement/">celle sur les conditions de logement</a> ou <a href="/rentree/">viens chercher des informations sur la rentrée</a></li></ol>
{% endblock %}
