{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="{{ STATIC_URL }}association.css" />
{% endblock %}

{% block onglets %}
<div id="menu_onglets">
<h1><img class="logo_assoce" src = "{{ STATIC_URL }}logo_vp.png">Voyage Promo</h1>

<ul>
<li><a href="/associations/vp/messages/"><img src="{{ STATIC_URL}}mail.png"><span>Messages</span></a></li>
<li><a href="/associations/vp/evenements/"><img src="{{ STATIC_URL}}date.png"><span>Évenements</span></a></li>
<li><a href="/associations/vp/equipe/"><img src="{{ STATIC_URL}}user.png"><span>Équipe</span></a></li>
<li><a href="/associations/vp/medias/"><img src="{{ STATIC_URL}}clapperboard.png"><span>Médias</span></a></li>
</ul>

<ul class="supplementaire">
<li id="actif"><a href="/associations/vp/destinations/"><img src="{{ STATIC_URL}}page_destinations.png"><span>Destinations</span></a></li>
</ul>

<hr>
</div>
{% endblock %}

{% block content %}

<h1 style="text-align:center">Bali</h1>
<div style="text-align:center">
<img src="{{ STATIC_URL }}vp_bali.jpg" style="width:494px;"/>
</div>
<p>Bali a beau appartenir à l'Indonésie, c'est comme un pays à part. Petite île hindouiste au milieu du premier pays musulman au monde, <strong>Bali affirme sa différence, et c'est ce qui fait tout son charme</strong>.</p>
<p>Partez à la découverte d'<strong>Ubud, scène culturelle de l’île</strong> : galeries, artisanat, danse, architecture… tout l’art de vivre balinais s’y retrouve. </p>
<p>Explorez la <strong>campagne balinaise</strong> et ses <strong>rizières</strong> à perte de vue, venez toisez les sommets fumants de ses <strong>volcans</strong>.</p>
<p><strong>Profitez</strong> des activités multiples qu'offrent les <strong>plages balinaises</strong>.</p>


<p>Le programme ci-dessous est donné ici à titre indicatif pour une dizaine de jours. Il est susceptible d’être en partie modifié :</p>

<ul>
<li>Découverte d'Ubud, cœur culturel de l'île</li>
<li>Descente en rafting de la rivière Ayung</li>
<li>Activités nautiques sur l'île de Nusa Lembongan</li>
<li>Visite d'un village et découverte de la vie locale</li>
<li>Deux jours de détente en bord de mer à l'hôtel de Sanur</li>
<li>Excursion dans les montagnes balinaises et visites des temples sacrés autour de Besakih</li>
</ul>
<p>Estimation du prix du voyage : <strong>2000 – 2100 €/pers</strong>.</p>

{% endblock %}
