{% extends "base.html" %}

{% block header %}
	<link rel="stylesheet" href="{{ STATIC_URL }}module_chat.css" />
{% endblock %}

{% block content %}

<!-- Charge depuis base.html (pour le module)
<script type="text/javascript" src="{{ STATIC_URL }}jqchat.js"></script>
{% load chat_room %}
{% obtenir_room %}
<script type="text/javascript">
	$(document).ready(function(){
		InitChatWindow("{% url jqchat_ajax room.id %}", null);
	});
</script>
-->
<div id = "module_chat" class="well">
<div id="chatwindow" class = "grand"><span id="loading">Chargement...</span></div>

<form id="chatform">
	<input type="text" id="msg" class = "grand" placeholder = "Parle moi !"/>
	<!--<input type="submit" value="Envoyer" /><br />-->
</form>
</div>

<script type="text/javascript">document.getElementById("msg").focus();</script>

{% endblock %}
