{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="{{ STATIC_URL }}association.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}produit.css" />


<script>
function add(nom) {
var obj=document.getElementById(nom);
obj.value++;
}
function substract( nom ) {
var obj=document.getElementById(nom);
if (obj.value > 0) obj.value--;
}
</script> 
{% endblock %}

{% block onglets %}
<div id="menu_onglets">
<h1><img class="logo_assoce" src = "{{ STATIC_URL }}logo_minesmarket.png">MinesMarket</h1>
<ul>
<li><a href="/associations/minesmarket/messages/"><img src="{{ STATIC_URL}}mail.png"><span>Messages</span></a></li>
<li><a href="/associations/minesmarket/equipe/"><img src="{{ STATIC_URL}}user.png"><span>Équipe</span></a></li>
<li><a href="/associations/minesmarket/evenements/"><img src="{{ STATIC_URL}}date.png"><span>Évenements</span></a></li>
<li id="actif"><img src="{{ STATIC_URL}}page_catalogue.png"><span>Catalogue</span></li>
</ul>
<br>
<hr>
</div>
{% endblock %}

{% block content %}
<a href="/associations/minesmarket/commande/"><img src="{{ STATIC_URL}}market_panier1.jpg" style="alignt:right"></a>
{% if perms.minesmarket %}
<p><strong>Administration</strong><br/>
<a href="/associations/minesmarket/fermer_commandes/">Fermer toutes les commandes</a><br/>
<a href="/associations/minesmarket/dernieres_commandes/">Voir les dernières commandes</a></p>
{% endif %}
{% for produit in liste_produits %}
	
	<div class="produit">
	
	<form method="post" action="/associations/minesmarket/acheter/">
	{% csrf_token %}
	<h3>{{ produit.nom }}</h1>
	<hr style="width:100%; color:blue;" size="2" /> 
	<img src="{{ MEDIA_URL }}{{ produit.image }}" width=128>
	<p>Catégorie : {{ produit.categorie }}</p>
	<p>Description : {{ produit.description }}</p>
	<p>Quantité : {{ produit.quantite}}</p>
	<p>Prix : {{ produit.prix_vente }}€</p>
	
	{% if perms.minesmarket %}
		<p>Prix d'achat : {{ produit.prix_achat }}€</p>
		<p>Produits par pack: {{ produit.pack }}</p>
	{% endif %}


	<img src="{{ STATIC_URL}}market_moins.png" alt="exemple onclick" style="cursor:pointer;" onclick="substract('quantite_{{ produit.id }}')" />
	<input type="text" value="0" id="quantite_{{ produit.id }}" name = "quantite" size="1" maxlength="4" style="font-size: 20px; height:75px; vertical-align:text-bottom" onkeypress="return isNumberKey(event);">
	<img src="{{ STATIC_URL}}market_plus.png" alt="exemple onclick"  style="cursor:pointer;" onclick="add('quantite_{{ produit.id }}')" />
	
	<input type="hidden" name="id" value="{{ produit.id }}"/>
	<input border=0 src="{{ STATIC_URL}}market_submit.jpg" type=image Value=submit align="right" > 
	</form>
                        
                    </div>


{% endfor %}
<hr>
{% endblock %}
