{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="{{ STATIC_URL }}association.css" />
{% endblock %}

{% block onglets %}
<div id="menu_onglets">
<h1><img class="logo_assoce" src = "{{ STATIC_URL }}logo_minesmarket.png">MinesMarket</h1>
<ul>
<li><a href="/associations/minesmarket/messages/"><img src="{{ STATIC_URL}}mail.png"><span>Messages</span></a></li>
<li><a href="/associations/minesmarket/equipe/"><img src="{{ STATIC_URL}}user.png"><span>Équipe</span></a></li>
<li><a href="/associations/minesmarket/evenements/"><img src="{{ STATIC_URL}}date.png"><span>Évenements</span></a></li>
<li id="actif"><img src="{{ STATIC_URL}}page_catalogue.png"><span>Catalogue</span></li>
</ul>
<br>
<hr>
</div>
{% endblock %}

{% block content %}
<a href="/associations/minesmarket/catalogue/"><img src="{{ STATIC_URL}}market_catalogue.jpg" style="alignt:center"></a>
<ul>
{% for achat in liste_achats %}
	<li>{{ achat.produit.nom }} ({{ achat.quantite }})<br/>
	Prix unitaire: <strong>{{ achat.produit.prix_vente }}€</strong></li>
{% endfor %}
</ul>

<h2><span style="color:#ff8c00;"><u><strong>Total à payer :</strong></u> <strong>{{ total }}€;</strong></span></h2>

{% endblock %}
