{% extends "base_visiteur.html" %}

{% block onglets %}
<div class="pagination-centered">
<h1>Relations Entreprises</h1>

<ul class="nav nav-pills">
<li><a href="/entreprises/"><img src="{{ STATIC_URL}}entreprises.png"/><span>Présentation</span></a></li>
<li class="active"><a href="/entreprises/contact/"><img src="{{ STATIC_URL}}mail.png"/><span>Contactez nous !</span></a></li>
<li><a href="/entreprises/planning/"><img src="{{ STATIC_URL}}date.png"/><span>Planning</span></a></li>
</ul>
<hr />
</div>
{% endblock %}


{% block content %}
<p>Vous souhaitez devenir partenaire du Bureau des Elèves (BdE) ou de l’école ? Vous souhaitez en  savoir plus sur le fonctionnement des Relations Entreprises au sein de l’école ? Vous souhaitez proposer une offre de stage, VIE ou emploi ? Vous trouverez ci-dessous le contact approprié pour répondre à toutes vos attentes.</p>

<h3>Direction de l’Enseignement</h3>
<ul>
	<li>Pour devenir partenaire de l’école, vous renseigner sur les différentes relations que l’école met en place avec les entreprises, contactez la responsable de ces relations au sein de MINES ParisTech, Solenne Couraye Du Parc (<a href = "mailto:solenne.couraye_du_parc@mines-paristech.fr">solenne.couraye_du_parc@mines-paristech.fr</a> ). Ligne directe : 01 40 51 90 15</li>
	<li>Pour des informations sur la taxe d’apprentissage, vous pouvez contacter Johanna Ducret (<a href = "mailto:johanna.ducret@mines-paristech.fr">johanna.ducret@mines-paristech.fr</a>)</li>
	<li>Pour proposer un stage, VIE ou emploi, contactez le responsable Stages et Emplois Gérard Viguié (<a href = "mailto:gerard.viguie@mines-paristech.fr">gerard.viguie@mines-paristech.fr</a>)</li>
</ul>
<h3>Bureau des Elèves</h3>

<ul><li>Vous souhaitez vous rapprocher des élèves, mener une action comme présentées dans le <a href="{{ STATIC_URL }}Prestations_BDE_Mines.pdf">catalogue des prestations</a> ou obtenir plus d’informations sur les relations entre BdE et entreprises, alors contactez le service Relations Entreprises du BdE (<a href = "mailto:bde-entreprises@mines-paristech.fr">bde-entreprises@mines-paristech.fr</a> )</li></ul>

{% endblock %}
