{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="{{ STATIC_URL }}association.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}votes.css" />
{% endblock %}

{% block onglets %}
<div id="menu_onglets">
<h1><img class="logo_assoce" src = "{{ STATIC_URL }}logo_bde.png">BDE</h1>

<ul class="nav nav-pills">
<li><a href="/associations/bde/messages/"><img src="{{ STATIC_URL}}mail.png"/><span>Messages</span></a></li>
<li><a href="/associations/bde/evenements/"><img src="{{ STATIC_URL}}date.png"/><span>Évenements</span></a></li>
<li><a href="/associations/bde/equipe/"><img src="{{ STATIC_URL}}user.png"/><span>Équipe</span></a></li>
<li><a href="/associations/bde/medias/"><img src="{{ STATIC_URL}}clapperboard.png"/><span>Médias</span></a></li>
<li><a href="/associations/bde/voter/"><img src="{{ STATIC_URL}}page_voter.png"/><span>Voter</span></a></li>
<li><a href="/associations/bde/palums/"><img src="{{ STATIC_URL }}page_palums.png"/><span>Palums</span></a></li>
<li><a href="/associations/bde/offre_stage/"><img src="{{ STATIC_URL}}page_offre_stage.png"/><span>Offres de Stage</span></a></li>
<li class="active"><a href="/associations/bde/voeux_parrainage/"><img src="{{ STATIC_URL}}page_voeux_parrainage.png"/><span>Parrainage</span></a></li>
</ul>
<hr />
</div>
{% endblock %}



{% block content %}
{% if perms.bde.add_parrainagevoeux %}
<p><strong>Administration</strong><br/>
<a href="/associations/bde/voeux_parrainage_export/">Exporter les voeux</a><br/>
<a href="/associations/bde/voeux_parrainage_algo_export/">Exporter les voeux pour appliquer l'algo</a><br/>
{% endif %}
{% if deuxA %}
{% if dejaVote%}
<p><strong>Vous avez déjà fait vos voeux mais vous pouvez encore changer en remplissant à nouveau le formulaire ci-dessous</strong><br/>
<p>Si vous voulez visualiser vos voeux (déjà effectués), <a href="/associations/bde/visualiser_voeux_parrainage/">cliquez ici<a></p>
{% endif %}
<form action="" method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Valider" />
</form>
{% else %}
<p><strong>Vous n'êtes pas en 2A, vous n'avez rien à faire sur cette page</strong><br/>
{% endif %}
{% endblock %}
