<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" href="/media/styles.css" />
	<link rel="stylesheet" type="text/css" href="/media/tipped.css"/>
	
	<script src="/media/jquery-1.7.1.min.js"></script>
	<script src="/media/script.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
	<script type="text/javascript" src="/media/spinners.js"></script>
	<script type="text/javascript" src="/media/tipped.js"></script>
	
	<script type="text/javascript">
	(function($) {
		// Example of a custom skin
		// always do this after you've included tipped.js
		$.extend(Tipped.Skins, {
		  'custom_simple' : {
			border: { size: 3, color: '#959fa9' },
			background: {
			  color: [
				{ position: 0, color: '#fefefe' },
				{ position: 1, color: '#f7f7f7' }
			  ]
			},
			closeButtonSkin: 'light',
			radius: {
			  position: 'border',
			  size: 0,
			  color: '#afafaf'
			},
			shadow: { opacity: .15 },
			stem: {
			  height: 7,
			  width: 13
			}
		  }
		});
	})(jQuery);
	</script>    

	<script type="text/javascript">
	//ENVOI D'UNE NOUVELLE NOTE
	$(function() {
		$("#todoform").submit(function(){
			note = $(this).find("input[name=note]").val();
			csrfmiddlewaretoken = $(this).find("input[name=csrfmiddlewaretoken]").val();	
			$.post("/todo/nouveau", {note:note, csrfmiddlewaretoken:csrfmiddlewaretoken},
				function(data) {
					//alert(data);
					$("#liste_notes").append('<li>'+note+'</li>');
				}
			);
			return false;
		});
	});
	</script>

	
    
	{% block header %}{% endblock %}
</head>

<body onload="initialize()">
<div id = "header">
	<div id = "banniere-fond">
		<div id = "banniere-holder"><div id = "banniere"></div></div>
	</div>
	<div id = "menu-fond">
		<div id="mon_menu">
		<!-- Le menu -->
			<ul class="topnav">  
			
			{% load obtenir_nombre_messages %}
			{% if request.user.is_authenticated %}
				{% compter_messages request.user.username %}
			{% endif %}
			<li><a href="/messages"><span id="compteur_messages">{{ nombre_de_messages }}</span> Message{{ nombre_de_messages|pluralize }}</a></li>  
			<li>  
				<a href="/associations/">Associations</a>  
				<ul class="subnav">
				{% load obtenir_liste_associations %}
				{% obtenir_associations %}
				{% for association in liste_des_associations %}
					<li><a href="/associations/{{association.pseudo}}/">{{association.nom}}</a></li>  
				{% endfor %}
				</ul>  
			</li>  
			<li>  
				<a href="#">Services</a>  
				<ul class="subnav">  
					<li><a href="/people/">Trombi</a></li>  
					<li><a href="/petitscours/">Petits cours</a></li>
					<li><a href="/objetstrouves/">Objets trouvés</a></li>
					<li><a href="/timetable/">Emploi du temps</a></li>  
				</ul>  
			</li>  
			<li>
			<div id="champ_recherche">
				<form action="/recherche/" method="get">
					<input id="string_recherche" type="text" size="24" name = "q"/>
					<input id="bouton_recherche" type="submit" value="Rechercher" />
				</form>
			</div>
			</li>  
			<li><a href="/admin/">Administration</a></li>  
			{% if user.is_authenticated %}
			<li class="droite">  
				<a href="/people/{{ user.username }}/">{{ user.username }}</a>  
				<ul class="subnav">  
					<li><a href="/people/{{ user.username }}/">Ma page</a></li>  
					<li><a href="/accounts/logout/">Se déconnecter</a></li>
				</ul>  
			</li>  
			{% else %}
			<li class="droite"><a href="/accounts/login?next={{ request.get_path }}">S'identifier</a></li>  
			{% endif %}

		</ul>  
		</div>
	</div>
</div>
<div id="wrap">	
	{% if messages %}
<ul id="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
	<div id="global_onglets">
     {% block onglets %}{% endblock %}
	<div id="content_onglets">
	    {% block content %}{% endblock %}
	</div>
    </div>
	
	<div id="barre_droite">
	
		<div id = "todo">
		<p><strong>Notes</strong></p>
		{% load obtenir_notes %}
		{% if request.user.is_authenticated %}
			{% obtenir_todos request.user.username %}
		{% endif %}
		<ul id= "liste_notes">
		{% for todo in todo_list %}
               <li>{{todo.contenu}}</li>  
        {% endfor %}
		</ul>
		<form method="post" action="#" id="todoform">
		{% csrf_token %}
		<input type="text" size = "18" name="note">
		<input type="submit" value="Noter"/></form>		
		</div>
		
		
		<div id = "birthday">
		<div class="module_top">
		<p>Les prochains anniversaires</p>
		</div>
		<div class="module_middle">		
		{% load obtenir_anniv %}
		{% obtenir_liste_annivs %}
		<ul style="list-style:none; padding:0;">
		{% for eleve in anniv_list %}
		 {% ifchanged %}<p class="date">{{ eleve.birthday|date:"l" }}</p>{% endifchanged %}
               <li><a href = "/people/{{eleve.user.username}}">{{eleve.first_name}} {{eleve.last_name}} (P{{eleve.promo}})</a></li>  
        {% endfor %}
		</ul>
		</div>
		<div class="module_bottom">
		</div>
		</div>
	</div>
	
	
	<div id="barre_gauche">
	
		<div id = "evenements">
		<p><strong>Evénements</strong></p>
		{% load obtenir_evenements %}
		{% obtenir_events %}
		{% if events_list %}
		<ul>
		{% for event in events_list %}
		{% ifchanged %}</ul><b>{{ event.date|date:"l" }}</b><ul>{% endifchanged %}
               <li><div class='tooltip-from-event' data-tooltip-id="tooltip-event-{{event.id}}">{{event.titre}}</div></li>
			    <div id='tooltip-event-{{event.id}}' class="event" style='display:none'>
					<div class="top-event">
					<p>Organisé par <strong>{{event.association}}</strong> le <strong>{{event.date|date:"l d F" }}</strong> à <strong>{{event.date|date:"H:i" }}</strong></p>
					</div>
					<p>{{event.description|linebreaksbr}}</p>
				</div>
        {% endfor %}
		</ul>	
		{% else %}
		<p>Aucun événement planifié</p>
		{% endif %}
		</div>
		

<script type="text/javascript">
  jQuery(document).ready(function($) {
    // loop over all elements creating a tooltip based on their data-tooltip-id attribute
    $('.tooltip-from-event').each(function() {
      var selector = '#' + $(this).data('tooltip-id');
      Tipped.create(this, $(selector)[0], {
	maxWidth: 400,
	inline: true,
    skin: 'custom_simple',
    hook: 'lefttop'
  });
    });
  });
</script>
	
</div>

</body>
</html>
