<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
	<meta name="author" content="Edouard Leurent"/>
	<meta name="description" content="Le portail des élèves de l'école des Mines de Paris"/>
	<meta name="keywords" content="portail, élèves, eleves, ecole, mines, paris, paristech, ensmp, mines-paris"/>
	<meta name="date" content="2012-09-11"/>
	<title>Le portail des élèves</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}styles.css" />	
	<link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico"/>
	<script type="text/javascript" src="{{ STATIC_URL }}jquery-1.7.2.min.js"></script>
	
	
	<!--Modules-->
	<link rel="stylesheet" href="{{ STATIC_URL }}module_mediamines.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}module_evenements.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}module_bar.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}module_chat.css" />
	<script type="text/javascript" src="{{ STATIC_URL }}module_mediamines.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}module_sondages.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}jquery.qtip-1.0.0-rc3.min.js"></script>
	
	{% block header %}{% endblock %}
</head>

<body>

	<!--Google Analytics -->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-37635054-1']);
	  _gaq.push(['_setDomainName', 'mines-paris.eu']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>

<div id = "header">
	<div id = "banniere-fond">
		<div id = "banniere">
			{% load countdown %}
			<img style="float:right;" src = '{{ STATIC_URL }}countdown{{ "13/01/2013"|countdown }}.png'/>
		</div>
		{% if messages %}
	<ul id="messages">
		{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	</div>
		{% include "menu.html" %}
</div>
<div id="wrap">
	<div id="global_onglets">
		{% block onglets %}{% endblock %}
		<div id="content_onglets">
			{% block content %}{% endblock %}
		</div>
    </div>
	
	
	<div id="barre_droite">	
		{% include "module_mediamines.html" %}
		{% include "module_chat.html" %}
		{% include "module_anniv.html" %}
	</div>
	
	<div id="barre_gauche">	
		{% include "module_evenement.html" %}
		{% include "module_sondages.html" %}
		{% include "module_bar.html" %}
		
		<script language="JavaScript">
			function player_mos(){
			window.open('/associations/minestryofsound/player/', 'Player MINEStryOfSound', config='height=210, width=250, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no')}
		</script> 
		<p style = "text-align:center"><a href="javascript:player_mos();" style="color:#666;">Player MINEStry Of Sound</a></p>
	</div>
</div>
</body>
</html>
