	<div id = "menu" class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
	        <a class="brand" href="/"><!--<img src="{{ STATIC_URL}}logo_portail.png" width="38">-->Le Portail des élèves</a>
	        <div class="nav-collapse collapse">
			<ul class="nav">
				{% load active %}
				<li class="{% active request "^/accueil/" %}"><a href="/accueil/"><img src="{{ STATIC_URL}}accueil.png"/>Accueil</a></li>
				<li class="{% active request "^/entreprises/" %}"><a href="/entreprises/"><img src="{{ STATIC_URL}}entreprises.png"/>Entreprises</a></li>
				<li class="{% active request "^/petitscours/" %}"><a href="/petitscours/demander/"><img src="{{ STATIC_URL}}petitscours.png"/>Cours particuliers</a></li>
				<li class="{% active request "^/abatage/" %}"><a href="/abatage/"><img src="{{ STATIC_URL}}abatage.png"/>Abatage</a></li>
				<li class="{% active request "^/admissibles/" %}"><a href="/admissibles/"><img src="{{ STATIC_URL}}admissibles.png"/>Admissibles</a></li>
				<li class="{% active request "^/admis/" %}"><a href="/admis/"><img src="{{ STATIC_URL}}admis.png"/>Admis</a></li>
				<li class="{% active request "^/faq/" %}"><a href="/faq/"><img src="{{ STATIC_URL}}faq.png"/>FAQ</a></li>

				
			</ul>
			<ul class="nav pull-right">				
					<li class="{% active request "^/accounts" %}"><a href="/accounts/login"><img src="{{ STATIC_URL}}user_guy.png"/>Se connecter</a></li>  
	        </ul>
          </div>
        </div>
      </div>
    </div>