<div id = "evenements">
	<div class="module_top">
		<p>Evénements à venir</p>
	</div>
	<div class="module_middle">	
		{% load obtenir_evenements %}
		{% obtenir_events request.user.username%}
		{% if events_list %}
		{% regroup events_list by date_debut.date as date_list %}
		<ul>
		{% for date in date_list %}
			<li>{{ date.grouper|date:"l"|title }}
			<ul>
				{% for item in date.list %}
				  <li>{{ item.titre }}</li>
				{% endfor %}
			</ul>
			</li>
		{% endfor %}
		</ul>
		{% else %}
		<p>Aucun événement planifié</p>
		{% endif %}
	</div>
	<div class="module_bottom">
	</div>
</div>	