{% if request.user.is_authenticated %}
<script type="text/javascript" src="{{ STATIC_URL }}jquery.progressbar.js"></script>
<script type="text/javascript">
	var jours_depuis = 0;	
</script>

<div id = "module_sondages" class="well well-small">
	<p class = "well-header">Sondage du jour
	<a href="/sondages/proposer/"><img class="pull-right" src="{{ STATIC_URL }}plus.png" title="Proposer un sondage"></a>
	<a href="/sondages/scores/"><img class="pull-right" src="{{ STATIC_URL }}statistics.png" title="Statistiques des sondages"></a>
	</p>	
	<hr>
	{% load obtenir_sondage_du_jour %}
	{% obtenir_sondage request.user.username %}
	{% if sondage %}			
		{% if a_vote %}
			<img id = "sondage_precedent" class ="pull-left" src="{{ STATIC_URL }}precedent.png">
			<img id = "sondage_suivant" class ="pull-right" src="{{ STATIC_URL }}suivant.png">
			
			<p id="sondage_question">{{ sondage.question }}</p>
			
			<table id="tableau_sondages">
				<tr><td id = "texte_reponse_1">{{ sondage.reponse1 }}</td></tr><tr><td><span class="progressBar" id="barre_reponse_1">{% widthratio nombre_votes_1 nombre_votes 100 %}%</span></td></tr>
				<tr><td id = "texte_reponse_2">{{ sondage.reponse2 }}</td></tr><tr><td><span class="progressBar" id="barre_reponse_2">{% widthratio nombre_votes_2 nombre_votes 100 %}%</span></td></tr>
			</table>
			<p id="sondage_date" class="muted">({{ nombre_votes }} vote{{ nombre_votes|pluralize }})</p>
		{% else %}
			<p id="sondage_question">{{ sondage.question }}</p>
			
			<form method="post" action="/sondages/voter/" class="voteform" >
			{% csrf_token %}
			<input type="hidden" name="choix" value="1">
			<input type="hidden" name="next" value="{{ request.path }}" />
			<button class="btn" type="submit" id = "input_reponse_1">{{ sondage.reponse1 }}</button>
			</form>	
			<form method="post" action="/sondages/voter/" class="voteform">
			{% csrf_token %}
			<input type="hidden" name="choix" value="2">
			<input type="hidden" name="next" value="{{ request.path }}" />
			<button class="btn" type="submit" id = "input_reponse_2">{{ sondage.reponse2 }}</button>			
			</form>
		{% endif %}
	{% else %}
		<p>Aucun sondage disponible</p>
	{% endif %}

</div>
{% endif %}

