{% block header %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}association.css" />
{% endblock %}
<div id="assoce" class="well">
    <h3>Associations</h3>
    <ul class="liste_assoce">
    <!--
	{% load obtenir_pages_abatage %}
    {% obtenir_pages_associations_abatage %}
    {% for association, page in abatage_pages_associations.items %}
        <li>
        <p>
            <a href="{{ MEDIA_URL }}abatage/abatage13.pdf#page={{ page }}"><img src="{{ STATIC_URL }}logo_{{ association.pseudo }}.png" width="50" height="50"/>
            {{ association.nom }}</a>
        </p>
        </li>
    {% endfor %}
	<ul class="liste_assoce">
	-->
	{% for association in assoces %}
		<li>
		<p>
		<a href = "/associations/{{ association.pseudo }}"><img src="{{ STATIC_URL }}logo_{{ association.pseudo }}.png"/>
		<br/>
		{{ association.nom }}</a>
		</p>
		</li>
	{% endfor %}
</ul>
    </ul>
</div>