<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>w_launch</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
 
<style type="text/css">
body {
    margin:0; 
    padding:0; 
    font-family: "Trebuchet MS",Arial,Verdana, Helvetica, sans-serif;
    font-size:11px;
    font-weight: bold;
    background:url(../css/fond_news.png);
    background-attachment:fixed;
}
 
#containeur_global{ position:relative; width:900px; margin:auto;}
img {border:0 none; vertical-align:middle;}
.loading{display:none; position:absolute;left:50%; top:300px; color:#FFF;}
 
</style>
<script type="text/javascript">
$(document).ready(function()
{
    $("#w_launch").click(function(event){
        event.preventDefault();
        var link=$(this).attr("href");
        $("#loading").fadeIn(500).delay(1000).fadeOut(250);
        $("#Table_01").delay(1750).fadeOut(250, function(){
             window.location.href =link;
        });
    });
});
</script>
</head>
<body bgcolor="#FFFFFF">
<div id="containeur_global">
<div id="loading" class="loading"><h2>Chargement en cours</h2></div>
<!-- ImageReady Slices (w_launch.psd) -->
<table id="Table_01" width="900" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="3">
			<img id="w_launch_01" src="http://mon_site/site/simul_mdk/images_launch/w_launch_01.gif" width="900" height="109" alt="" /></td>
	</tr>
	<tr>
		<td rowspan="2">
			<img id="w_launch_02" src="http://mon_site/site/simul_mdk/images_launch/w_launch_02.gif" width="242" height="404" alt="" /></td>
		<td>
			<a id="w_launch" href="http://mon_site/site/simul_aiguillage.php?cnx=1">
				<img  id="w_launch" src="http://mon_site/site/simul_mdk/images_launch/w_launch.gif" width="443" height="197" border="0" alt="lien" />
                        </a>
				</td>
		<td rowspan="2">
			<img id="w_launch_04" src="http://mon_site/site/simul_mdk/images_launch/w_launch_04.gif" width="215" height="404" alt="" /></td>
	</tr>
	<tr>
		<td>
			<img id="w_launch_05" src="http://mon_site/site/simul_mdk/images_launch/w_launch_05.gif" width="443" height="207" alt="" /></td>
	</tr>
</table>
<!-- End ImageReady Slices -->
<p style="text-align:center;"><a href="../simul_aiguillage.php?cnx=0">Retour au site MédiClick! Studio</a></p>
</div> <!--  END containeur _global -->
</body>
</html>