<link rel="stylesheet" href="/media/messages.css" />
<div id = "div_messages">
{% if list_messages %}
<ul>
{% for message in list_messages %}
{% load comments %}
{% get_comment_count for message as comment_count %}
<li> <div> <!--C'est le div caché lors du clic sur un bouton d'action!-->
<p>
{% if not afficher_auteur = 0 %}
	<img class="logo_assoce" src = "{{ STATIC_URL }}logo_{{message.association.pseudo}}.png">
{% endif %}
{% if not afficher_bouton_important = 0 %}
	<a class = "action_message" href="/messages/{{ message.id }}/classer_important/"><img class = "action_message" src="{{ STATIC_URL }}favorite.png"></a>
{% endif %}
{% if not afficher_bouton_non_important = 0 %}
	<a class = "action_message" href="/messages/{{ message.id }}/classer_non_important/"><img class = "action_message" src="{{ STATIC_URL }}unfavorite.png"></a>
{% endif %}
{% if not afficher_bouton_lu = 0 %}
	<a class = "action_message" href="/messages/{{ message.id }}/lire/"><img class = "action_message" src="{{ STATIC_URL }}check.png"></a> 
{% endif %}
{% if not afficher_auteur = 0 %}
	De <strong>{{ message.association.nom }}</strong>, 
{% endif %}
il y a {{ message.date|timesince }}<br>
{{ comment_count }} commentaires<br>
<a href="/messages/{{ message.id }}/">{{ message.objet }}</a></p>

<p><br>{{ message.contenu|linebreaksbr }}</p>
<hr>
</div>
</li>
{% endfor %}
</ul>
{% else %}
<p>Aucun message disponible.</p>
{% endif %}
</div>