{% extends "base.html" %}


{% block header %}
	<link rel="stylesheet" href="/media/messages.css" />
	<title>Messages</title>
    
    <script src="/media/messages.js"></script>
	<script type="text/javascript" src="/media/read.js"></script>

{% endblock %}

{% block onglets %}
<div id="menu_messages">
<ul>
<li id="actif"><span>Nouveaux</span></li>
<li><a href="/messages/importants/"><span>Importants</span></a></li>
<li><a href="/messages/tous/"><span>Tous</span></a></li>
</ul>
</div>
{% endblock %}
{% block content %}



<div id = "div_messages">
{% if list_messages %}
<ul>
{% for message in list_messages %}
{% load comments %}
{% get_comment_count for message as comment_count %}
<li> <div class="message">
<p>
	<img class="logo_assoce" src = "{{ STATIC_URL }}logo_{{message.association.pseudo}}.png">
	
	{% if request.user.get_profile in message.important.all %}
	<a href="/messages/{{ message.id }}/"><img class='action_message unfavourite' src="{{ STATIC_URL }}unfavourite.png" /></a>
	{% else %}
	<a href="/messages/{{ message.id }}/"><img class='action_message favourite disparait' src="{{ STATIC_URL }}favourite.png" /></a>
	{% endif %}
	
	{% if request.user.get_profile in message.lu.all %}
	<a href="/messages/{{ message.id }}/"><img class='action_message unread' src="{{ STATIC_URL }}unread.png" /></a>
	{% else %}
	<a href="/messages/{{ message.id }}/"><img class='action_message read disparait' src="{{ STATIC_URL }}read.png" /></a>
	{% endif %}
	
	De <strong>{{ message.association.nom }}</strong>, 

{% if message.est_recent %}
il y a {{ message.date|timesince }}
{% else %}
le {{ message.date|date:"d F Y H:i" }}
{% endif %}<br>
{{ comment_count }} commentaires<br>
<a href="/messages/{{ message.id }}/">{{ message.objet }}</a></p>

<p><br>{{ message.contenu|linebreaksbr }}</p>
<hr>
<span class="signature">Visible par
{% if message.destinataire %}
{{message.destinataire.nom}}
{% else %}
tous
{% endif %}
</span>
</div>
</li>
{% endfor %}
</ul>
{% else %}
<p>Bravo ! Tu as lu tous tes messages !</p>
{% endif %}
</div>

{% endblock %}