{% extends "base.html" %}


{% block header %}
	<link rel="stylesheet" href="{{ STATIC_URL }}messages.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}messages.js"></script>    
	<script type="text/javascript" src="{{ STATIC_URL }}read.js"></script>
{% endblock %}

{% block onglets %}
<div id="menu_onglets">
	<ul>
		<li><a href="/messages/"><span>Nouveaux</span></a></li>
		<li><a href="/messages/importants/"><span>Importants</span></a></li>
		<li id="actif"><span>Tous</span></li>
	</ul>
	<br>
	<hr>
</div>
{% endblock %}

{% block content %}
<div id = "div_messages">
{% if list_messages %}
<ul>
{% for message in list_messages %}
{% load comments %}
{% get_comment_count for message as comment_count %}
<li> 
<div class="message">
	<div class="message_infos">
		<table>
			<tr>
				<td rowspan=2 class="assoce"><a href = "associations/{{message.association.pseudo}}"><img class="logo_assoce" src = "{{ STATIC_URL }}logo_{{message.association.pseudo}}.png"></a></td>
				<td class="objet"><a class="objet" href="javascript:void(0);">{{ message.objet }}</a></td>
				<!--<td class="info">	
				</td>-->
				<!--<td class="info"> {{ comment_count }} commentaires</td>-->
				<td rowspan=2 class="bouton">
				{% if request.user.get_profile in message.lu.all %}
				<a href="/messages/{{ message.id }}/"><img class='action_message unread' src="{{ STATIC_URL }}unread.png" /></a>
				{% else %}
				<a href="/messages/{{ message.id }}/"><img class='action_message read' src="{{ STATIC_URL }}read.png" /></a>
				{% endif %}
				</td>
				<td rowspan=2 class="bouton">
				{% if request.user.get_profile in message.important.all %}
				<a href="/messages/{{ message.id }}/"><img class='action_message unfavourite' src="{{ STATIC_URL }}unfavourite.png" /></a>
				{% else %}
				<a href="/messages/{{ message.id }}/"><img class='action_message favourite' src="{{ STATIC_URL }}favourite.png" /></a>
				{% endif %}
				</td>
				</tr>
				<tr>
				<td class="info">
				<span class="legende">Posté par</span> {{message.association.nom}}
				{% if message.est_recent %}
				<span class="legende">il y a</span> {{ message.date|timesince }}
				{% else %}
				<span class="legende">le</span> {{ message.date|date:"d F Y" }}  <!-- a H:i -->
				{% endif %}
				</td>
			</tr>
		</table>
	</div>
	
	<div class="message_contenu">
		<p>{{ message.contenu|linebreaksbr}}</p>
		
		<div style="display:none;">
		{% load comments %}
		<h3>Commentaires</h3>
		{% render_comment_list for message %}
		<h3>Poster un commentaire</h3>
		{% render_comment_form for message %}
		</div>
		<hr>
		<p class="pied-message">Visible par
		{% if message.destinataire %}
		{{message.destinataire.nom}}
		{% else %}
		tous
		{% endif %}
		</p>
		<p class="signature">Posté par <a href="/people/{{message.expediteur.user.username}}">{{message.expediteur.first_name}} {{message.expediteur.last_name}}</a></p>
	</div>
</div>
</li>
{% endfor %}
</ul>
{% else %}
<p>Aucun message.</p>
{% endif %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if list_messages.has_previous %}
            <a href="?page={{ list_messages.previous_page_number }}">Précedents</a>
        {% endif %}

        <span class="current">
            Page {{ list_messages.number }} sur {{ list_messages.paginator.num_pages }}.
        </span>

        {% if list_messages.has_next %}
            <a href="?page={{ list_messages.next_page_number }}">Suivants</a>
        {% endif %}
    </span>
</div>

{% endblock %}