{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}sondages.css" />
{% endblock %}

{% block content %}
<h2>Statistiques sondages</h2>
<h3>Votre score : {{request.user.get_profile.nb_victoires_sondages}} victoires sur {{ request.user.get_profile.nb_participations_sondages }} participations</h3>
	<table>
	<caption>Les consensuels</caption>
	<thead>
    <tr>
      <th>Élève</th>
      <th>Victoires</th>
	  <th>Participations</th>
    </tr>
  </thead>
  <tbody>
	{% for eleve in liste_eleves_v %}
	<tr>
	<td><a href = "{{eleve.get_absolute_url }}">{{ eleve.first_name }} {{eleve.last_name }}</a></td>
	<td>{{ eleve.nb_victoires_sondages }}</td>
	<td>{{ eleve.nb_participations_sondages }}</td>
	</tr>
	{% endfor %}
  </tbody>
  </table>
  
  	<table>
	<caption>Les libres penseurs</caption>
	<thead>
    <tr>
      <th>Élève</th>
      <th>Défaites</th>
	  <th>Participations</th>
    </tr>
  </thead>
  <tbody>
	{% for eleve in liste_eleves_d %}
	<tr>
	<td><a href = "{{eleve.get_absolute_url }}">{{ eleve.first_name }} {{eleve.last_name }}</a></td>
	<td>{{ eleve.nb_defaites_sondages }}</td>
	<td>{{ eleve.nb_participations_sondages }}</td>
	</tr>
	{% endfor %}
  </tbody>
  </table>
  
  <!--
  <table>
	<caption>Pourcentages</caption>
	<thead>
    <tr>
      <th>Élève</th>
      <th>Pourcentage</th>
	  <th>Participations</th>
    </tr>
  </thead>
  <tbody>
	{% for eleve in liste_eleves_p %}
	<tr>
	<td><a href = "{{eleve.get_absolute_url }}">{{ eleve.first_name }} {{eleve.last_name }}</a></td>
	<td>{{ eleve.pourcentage_sondages }}</td>
	<td>{{ eleve.nb_participations_sondages }}</td>
	</tr>
	{% endfor %}
  </tbody>
  </table>
  -->
{% endblock %}
 