{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="{{ STATIC_URL }}association.css" />
{% endblock %}

{% block onglets %}
<div id="menu_onglets">
<h1><img class="logo_assoce" src = "{{ STATIC_URL }}logo_pr.png">Petite Revue</h1>

<ul class="nav nav-pills">
<li><a href="/associations/pr/messages/"><img src="{{ STATIC_URL}}mail.png">Messages</a></li>
<li><a href="/associations/pr/evenements/"><img src="{{ STATIC_URL}}date.png">Évenements</a></li>
<li><a href="/associations/pr/equipe/"><img src="{{ STATIC_URL}}user.png">Équipe</a></li>
<li><a href="/associations/pr/medias/"><img src="{{ STATIC_URL}}clapperboard.png">Médias</a></li>
<li class="active"><a href="/associations/pr/clips/"><img src="{{ STATIC_URL}}page_clips.png"><span>Clips</span></a></li>
<li><a href="/associations/pr/voter/"><img src="{{ STATIC_URL}}page_voter.png"/><span>Voter</span></a></li>
</ul>
<hr/>
</div>
{% endblock %}

{% block content %}
{% regroup clip_list by promo as promo_list %}
<ul>
{% for promo in promo_list %}
    <li>PR P{{ promo.grouper|stringformat:"02d" }}
    <ul>
        {% for item in promo.list %}
          <li><a href="{{ item.lien }}">{{ item.titre }}</a></li>
        {% endfor %}
    </ul>
    </li>
{% empty %}
	<li>Aucun clip disponible</li>
{% endfor %}
</ul>

{% endblock %}
