{% extends "base.html" %}

{% block content %}

<p>Ajouter un petit cours</p>
<form method="post" action="">
<p>Titre du petit cours :</p>
<input type="text" name="title" />
<p>C'est où :</p>
<input type="text" name="location" />
<p>Contact :</p>
<input type="text" name="contact" />
<p>Matiere :</p>
<input type="text" name="matiere" />
<p>Niveau :</p>
<input type="text" name="niveau" />
<p>Description :</p>
<input type="text" name="description" />
<br /><input type="submit" />
</form>

{% endblock %}