{% extends "base.html" %}

{% block content %}
<p>
<a href="/objetstrouves/ajouter/">Ajouter un objet perdu/trouvé</a><br>
<a href="/objetstrouves/supprimer/">Supprimer un objet perdu/trouvé</a>
</p>

<table class="table table-striped">
<caption> {{ liste_objets_trouves|length }} objet{{ liste_objets_trouves|length|pluralize }} trouvé{{ liste_objets_trouves|length|pluralize }} </caption>
<thead>
<tr>
	<th>Description</th>
	<th>Trouvé par</th>
	<th>Lieu</th>
	<th>Date</th>
</tr>
</thead>
<tbody>
{% for objet in liste_objets_trouves %}
<tr>
	<td>{{ objet.description }}</td>
	<td><a href = "{{ objet.eleve.get_absolute_url }}/">{{ objet.eleve.first_name }} {{ objet.eleve.last_name|upper }}</a></td>
	<td>{{ objet.lieu }}</td>
	<td>{{ objet.date|date:"d F Y" }}</td>
</tr>
{% endfor %}
</tbody>
</table>

<table class="table table-striped">
<p></p>
<caption> {{ liste_objets_perdus|length }} objet{{ liste_objets_perdus|length|pluralize }} perdu{{ liste_objets_perdus|length|pluralize }} </caption>
<thead>
<tr>
	<th>Description</th>
	<th>Perdu par</th>
	<th>Lieu</th>
	<th>Date</th>
</tr>
</thead>
<tbody>
{% for objet in liste_objets_perdus %}
<tr>
	<td>{{ objet.description }}</td>
	<td><a href = "{{ eleve.get_absolute_url }}/">{{ objet.eleve.first_name }} {{ objet.eleve.last_name|upper }}</a></td>
	<td>{{ objet.lieu }}</td>
	<td>{{ objet.date|date:"d F Y" }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}