{% extends "photologue/root.html" %}

{% block title %}All Galleries{% endblock %}

{% block onglets %}
<div id="menu_onglets">
<h1><img class="logo_assoce" src = "{{ STATIC_URL }}logo_mediamines.png">MediaMines</h1>

<ul>
<li><a href="/associations/mediamines/messages/"><img src="{{ STATIC_URL}}mail.png"><span>Messages</span></a></li>
<li><a href="/associations/mediamines/equipe/"><img src="{{ STATIC_URL}}user.png"><span>Équipe</span></a></li>
<li><a href="/associations/mediamines/evenements/"><img src="{{ STATIC_URL}}date.png"><span>Évenements</span></a></li>
<li id="actif"><img src="{{ STATIC_URL}}page_gallery.png"><span>Albums</span></li>
</ul>
<br>
<hr>
</div>
{% endblock %}

{% block content %}

{% if object_list %}
<div class="photo-gallery">
	<ul class="gallery">
    {% for gallery in object_list %}
        {% for photo in gallery.sample|slice:":1" %}
		<li><a href="{{ gallery.get_absolute_url }}"><em>{{ gallery.title }}</em><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}" /></a></li>
        {% endfor %}   
    {% endfor %}
	</ul>
	</div>
{% else %}
    <p>Aucun album trouvé</p>
{% endif %}


{% if is_paginated %}
<p><br style="page-break-before: always;" clear="all" /></p> 
<p>{{ hits }} albums.</p>
<div id="page_controls">
    <p>{% if has_previous %}<a href="{% url pl-gallery-list previous %}">Précédent</a> | {% endif %} page {{ page }} sur {{ pages }} {% if has_next %}| <a href="{% url pl-gallery-list next %}">Suivant</a>{% endif %}</p>
</div>
{% endif %}

{% endblock %}
