{% extends "photologue/root.html" %}

{% block title %}Latest Photo Galleries{% endblock %}

{% block onglets %}
<div id="menu_onglets">
<h1><img class="logo_assoce" src = "{{ STATIC_URL }}logo_mediamines.png">MediaMines</h1>

<ul>
<li><a href="/associations/mediamines/messages/"><span>Messages</span></a></li>
<li><a href="/associations/mediamines/equipe/"><span>Équipe</span></a></li>
<li><a href="/associations/mediamines/evenements/"><span>Évenements</span></a></li>
<li id="actif"><span>Albums</span></li>
</ul>
<br>
<hr>
</div>
{% endblock %}

{% block content %}

{% if latest %}
<div class="photo-gallery">
	<ul class="gallery">
    {% for gallery in latest %}
        {% for photo in gallery.sample|slice:":1" %}
		<li><a href="{{ gallery.get_absolute_url }}"><em>{{ gallery.title }}</em><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}" /></a></li>
        {% endfor %}   
    {% endfor %}
	</ul>
	</div>
{% else %}
    <p>Aucun album trouvé.</p>
{% endif %}
<p><br style="page-break-before: always;" clear="all" /></p>
<p><a href="{% url pl-gallery-list 1 %}">Voir tous les albums.</a></p>

{% endblock %}
