{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="{{ STATIC_URL }}association.css" />
{% endblock %}
{% block title %}JuMP{% endblock %}

{% block onglets %}
<div id="menu_onglets">
<h1><img class="logo_assoce" src = "{{ STATIC_URL }}logo_jump.png">JuMP</h1>

<ul>
<li><a href="/associations/jump/messages/"><img src="{{ STATIC_URL}}mail.png"><span>Messages</span></a></li>
<li><a href="/associations/jump/equipe/"><img src="{{ STATIC_URL}}user.png"><span>Équipe</span></a></li>
<li><a href="/associations/jump/evenements/"><img src="{{ STATIC_URL}}date.png"><span>Évenements</span></a></li>
<li id="actif"><img src="{{ STATIC_URL}}page_etudes.png"><span>Études</span></li>
</ul>
<br>
<hr>
</div>
{% endblock %}
{% block content %}
<p>{{ liste_etudes|length }} étude{{ liste_etudes|length|pluralize }} trouvée{{ liste_etudes|length|pluralize }}</p>

{% for etude in liste_etudes %}
	<p>{{ etude.titre }}</p>
	<p>{{ etude.description }}</p>
	<p>{{ etude.date|date:"d F Y" }}</p>
{% endfor %}

{% endblock %}
